%sweep-btn {
  display: inline-block;
  position: relative;
  color: $white-color;
  background: $brand-color;
  z-index: 0;
  padding: 15px 32px;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 16px;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $brand-second-color;
    color: $white-color;
    @include transform(scaleX(0));
    @include transition(transform 0.6s ease);
  }
  &:hover {
    color: $white-color;
  }

  &:hover:before {
    @include transform(scaleX(1));
    color: $white-color;
  }
}

.sweep-btn--right {
  @extend %sweep-btn;
  &:before {
    transform-origin: -100% 50%;
  }
}

.sweep-btn--left {
  @extend %sweep-btn;
  &:before {
    transform-origin: 100% 50%;
  }
}

.sweep-btn--center {
  @extend %sweep-btn;
  &:before {
    transform-origin: 50% 50%;
  }
}

%outline-btn {
  display: inline-block;
  position: relative;
  background: none;
  z-index: 0;
  padding: 15px 32px;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 16px;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $brand-second-color;
    color: $white-color;
    @include transform(scaleX(0));
    @include transition(transform 0.6s ease);
  }
  &:hover {
    color: $white-color;
  }

  &:hover:before {
    @include transform(scaleX(1));
    color: $white-color;
  }
}

.outline-btn-right {
  @extend %outline-btn;
  &:before {
    transform-origin: -100% 50%;
  }
}

.outline-btn-red {
  @extend %outline-btn;
  @extend .outline-btn-right;
  color: $brand-color;
  border: 1px solid $brand-color;
  &:before {
    background: $brand-color;
  }
}
.outline-btn-white {
  @extend %outline-btn;
  @extend .outline-btn-right;
  color: $white-color;
  border: 1px solid $white-color;
  &:before {
    background: $white-color;
  }
  &:hover {
    color: $brand-second-color;
  }
}

.link__button {
  position: relative;
  padding: 19px 24px;
  width: fit-content;
  transition: all 0.2s ease;

  &:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($brand-color, 0.2);
    width: 56px;
    height: 56px;
    transition: all 0.5s ease;
  }
  span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    vertical-align: middle;
    color: $white-color;
  }
  svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $white-color;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.5s ease;
  }
  &:hover {
    &:before {
      width: 100%;
      background: rgba($brand-color, 1);
    }
    svg {
      transform: translateX(0);
    }
    &:active {
      transform: scale(0.96);
    }
  }
}

.sliding-underline-link {/* 
  position: relative; */
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $light-grey-color;
    transform-origin: bottom center;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: $brand-color;
    transform-origin: bottom center;
    @include transition(transform 0.4s);
    @include transform(scaleX(0));
  }
  &:hover {
    color: $brand-color !important;
    &:after {
      transform-origin: bottom center;
      @include transform(scaleX(1));
    }
  }
}

.action-button {
  border: none;
  background: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  margin-top: 40px;

  &__text {
    display: inline-block;
    margin-right: 36px;
    font-size: 18px;
    color: $brand-color;
    @include transition(all 0.5s ease);
  }
  &__shapes {
    position: relative;
    width: 64px;
    height: 64px;
  }
  &__rectangle {
    position: absolute;
    top: 50%;
    right: 32px;
    width: 50px;
    height: 2px;
    background-color: $brand-color;
    -webkit-transform-origin: right;
    transform-origin: right;
    @include transform(translateY(-50%) scaleX(1));
    @include transition(all 0.5s ease);
  }
  &__arrow {
    position: absolute;
    top: 10px;
    left: 27px;

    @include breakpoint(sm) {
      top: 22px;
    }
    @include breakpoint(lp) {
      top: 14px;
    }
    polygon {
      fill: $brand-color;
      @include transition(all 0.5s ease);
    }
  }
  &__circle {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__circle--base {
    @include transition(all 0.5s ease);
    @include transform(rotate(-154deg));
    circle {
      @include transition(all 0.5s ease);
      stroke-width: 2px;
      stroke: $brand-color;
      fill: none;
      stroke-dasharray: 200;
      stroke-dashoffset: 50;
    }
  }

  &__circle--fill {
    @include transition(all 0.5s ease);
    circle {
      @include transition(all 0.5s ease);
      stroke-width: 2px;
      stroke: $brand-second-color;
      fill: none;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
    }
  }

  &:hover & {
    &__text {
      @include transform(translateX(22px));
      color: $brand-second-color;
    }
    &__rectangle {
      @include transform(translateY(-50%) scaleX(0));
    }
    &__circle--base {
      @include transform(rotate(-180deg));
    }
    &__circle--fill {
      @include transform(rotate(-200deg));
    }
    &__circle--base {
      circle {
        stroke: none;
      }
    }
    &__arrow polygon {
      fill: $brand-second-color;
    }
    &__circle--fill circle {
      stroke-dashoffset: 10;
    }
  }
}

.action-button-white {
  border: none;
  background: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  outline: none;
  margin-top: 40px;

  &__text {
    display: inline-block;
    margin-right: 36px;
    font-size: 18px;
    color: $white-color;
    @include transition(all 0.5s ease);
  }
  &__shapes {
    position: relative;
    width: 64px;
    height: 64px;
  }
  &__rectangle {
    position: absolute;
    top: 50%;
    right: 32px;
    width: 50px;
    height: 2px;
    background-color: $white-color;
    -webkit-transform-origin: right;
    transform-origin: right;
    @include transform(translateY(-50%) scaleX(1));
    @include transition(all 0.5s ease);
  }
  &__arrow {
    position: absolute;
    top: 10px;
    left: 27px;

    @include breakpoint(sm) {
      top: 23px;
    }
    @include breakpoint(lp) {
      top: 14px;
    }
    polygon {
      fill: $white-color;
      @include transition(all 0.5s ease);
    }
  }
  &__circle {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__circle--base {
    @include transition(all 0.5s ease);
    @include transform(rotate(-154deg));
    circle {
      @include transition(all 0.5s ease);
      stroke-width: 2px;
      stroke: $white-color;
      fill: none;
      stroke-dasharray: 200;
      stroke-dashoffset: 50;
    }
  }

  &__circle--fill {
    @include transition(all 0.5s ease);
    circle {
      @include transition(all 0.5s ease);
      stroke-width: 2px;
      stroke: $brand-color;
      fill: none;
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
    }
  }

  &:hover & {
    &__text {
      @include transform(translateX(22px));
      color: $brand-color;
    }
    &__rectangle {
      @include transform(translateY(-50%) scaleX(0));
    }
    &__circle--base {
      @include transform(rotate(-180deg));
    }
    &__circle--fill {
      @include transform(rotate(-200deg));
    }
    &__circle--base {
      circle {
        stroke: none;
      }
    }
    &__arrow polygon {
      fill: $brand-color;
    }
    &__circle--fill circle {
      stroke-dashoffset: 10;
    }
  }
}


/* custom checkboxes and radio */
.radios,
.checkboxes {
  @include margin(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  label {
    cursor: pointer;
    line-height: 1rem;
  }
  @mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include vh();
    &:focus {
      + label {
        &:before {
        }
      }
    }
    + label {
      position: relative;
      @include padding(10px, 0, 0, 45px);
      @include margin(0, 0, 0, 0);
      user-select: none;
      color: $brand-second-color;
      font-size: 15px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 35px;
        opacity: 0.2;
        border: 2px solid $brand-second-color;
        @include border-radius(50%);
        background: $white-color;
        text-align: center;
        @include transition(all 0.5s ease);
      }
      &:after {
        content: "";
        position: absolute;
        transform: scale(0);
        transition: transform 200ms ease-out;
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 13px;
        top: 10px;
        width: 8px;
        height: 13px;
        opacity: 0.2;
        border-bottom: 3px solid $brand-second-color;
        border-right: 3px solid $brand-second-color;
        @include transform(rotate(45deg));
        transition: border-color 0.3s ease;
      }
    }
    &:checked {
      + label {
        &:before {
          content: "";
          opacity: 1;
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      &:before,
      &:after {
        @include border-radius(50%);
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
      }
    }
    &:checked {
      + label {
        &:before {
          animation: borderscale 300ms ease-in;
        }
        &:after {
          background: $brand-color;
          @include transform(scale(1));
        }
      }
    }
  }
}
