@import "../../../assets/scss/variables", "../../../assets/scss/mixins", "../../../assets/scss/layout",
  "../../../assets/scss/ui-elements";

header {
  @include margin(0, 0, 0, 0);

  .logo {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
    width: 170px;
    height: 54px;
    background: url(../../../assets/images/logo-wearecreative.svg) no-repeat;
  }

  #full-screen-menu {
    .logo-menu {
      display: block;
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 9999;
      width: 55px;
      height: 54px;
      background: url(../../../assets/images/logo-menu.svg) no-repeat;

      @include breakpoint(sm) {
        display: none;
      }
    }
    .button_container {
      position: fixed;
      top: 5%;
      right: 2%;
      height: 55px;
      width: 55px;
      cursor: pointer;
      z-index: 10000;
      border-radius: 50%;
      &:hover {
        span {
          background: $brand-second-color;
          &:nth-of-type(1) {
            width: 50%;
          }
          &:nth-of-type(3) {
            width: 50%;
          }
        }
      }

      @include breakpoint(sm) {
        top: 1%;
      }

      &.active {
        .top {
          transform: translateY(7px) translateX(0) rotate(45deg);
          background: $white-color;
        }
        .middle {
          opacity: 0;
          background: $white-color;
        }

        .bottom {
          transform: translateY(-5px) translateX(0) rotate(-45deg);
          background: $white-color;
        }
      }

      span {
        background: $brand-second-color;
        border: none;
        height: 2px;
        width: 50%;
        position: absolute;
        top: 18px;
        left: 13px;
        transition: all 0.35s ease;
        cursor: pointer;

        &:nth-of-type(2) {
          top: 24px;
        }
        &:nth-of-type(1) {
          width: 30%;
        }

        &:nth-of-type(3) {
          top: 30px;
          width: 30%;
        }
      }
    }
    .overlay {
      position: fixed;
      background: $brand-second-color;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      opacity: 0;
      z-index: 1111;
      visibility: hidden;
      transition: opacity 0.35s, visibility 0.35s, height 0.35s;
      overflow: hidden;

      &.open {
        opacity: 10;
        visibility: visible;
        height: 100%;

        li {
          animation: fadeInLeft 0.9s ease forwards;
          animation-delay: 0.35s;

          &:nth-of-type(2) {
            animation-delay: 0.45s;
          }
          &:nth-of-type(3) {
            animation-delay: 0.55s;
          }
          &:nth-of-type(4) {
            animation-delay: 0.65s;
          }
          &:nth-of-type(5) {
            animation-delay: 0.75s;
          }
          &:nth-of-type(6) {
            animation-delay: 0.85s;
          }
        }

        .menu-contact-tab {
          animation: fadeIn 0.9s ease forwards;
          animation-delay: 0.95s;
        }
        .clock {
          animation: fadeIn 0.9s ease forwards;
          animation-delay: 1s;
        }
      }

      .menu-contact-tab {
        opacity: 0;
      }
      .clock {
        opacity: 0;
      }

      .overlay-menu {
        ul {
          position: relative;
          @include padding(150px, 150px, 150px, 150px);
          width: 50%;

          @include breakpoint(lp) {
            width: 55%;
            @include padding(100px, 100px, 100px, 100px);
          }
          @include breakpoint(sm) {
            width: 100%;
            @include padding(30px, 30px, 30px, 30px);
          }

          li {
            display: block;
            opacity: 0;

            a {
              position: relative;
              color: $white-color;
              text-decoration: none;
              display: block;
              font-size: 60px;
              text-align: left;
              font-weight: 700;
              text-transform: capitalize;
              @include padding(10px, 0, 10px, 0);

              @include breakpoint(lp) {
                font-size: 45px;
              }
              @include breakpoint(sm) {
                font-size: 26px;
                @include padding(4px, 0, 4px, 0);
              }

              &:before {
                position: absolute;
                content: "";
                height: 4px;
                width: 0;
                background: $white-color;
                top: 53px;
                right: -75px;
                @include transition(all 0.5s ease);

                @include breakpoint(lp) {
                  top: 45px;
                }
                @include breakpoint(sm) {
                  top: 22px;
                }
              }
              span {
                display: block;
                color: $white-color;
                font-weight: 400;
                font-size: 20px;
                opacity: 0;
                @include margin(0, 0, 0, 0);
                position: absolute;
                top: 12px;
                left: 0;
                @include transition(all 0.5s ease);
              }

              &:hover {
                @include margin(0, 0, 0, 45px);

                @include breakpoint(sm) {
                  @include margin(0, 0, 0, 30px);
                }

                &:before {
                  width: 125px;
                }
                span {
                  opacity: 1;
                  top: 12px;
                  left: -35px;
                }
              }
            }
          }
        }

        .sub-item {
          @include margin(0, 0, 0, 45px);
          a {
            font-size: 25px !important;
            font-weight: 400 !important;
            text-transform: capitalize !important;
            padding: 5px 0 !important;
          }
        }
      }
    }

    .menu-contact-tab {
      position: absolute;
      width: 20%;
      right: 150px;
      bottom: 150px;

      @include breakpoint(sm) {
        width: 100%;
        left: 30px;
        bottom: 25px;
        right: initial;
        @include padding(0, 30px, 0, 0);
      }

      .nav-tabs {
        border: 0;
        @include margin(0, 0, 20px, 0);
      }

      .nav-link {
        border: 0;
        font-size: 18px;
        @include padding(0, 20px, 0, 0);
        background: none;
        color: rgba($white-color, 0.2);

        &.active {
          color: $white-color;
        }
      }

      .menu-contact-info {
        &__link {
          color: $white-color;
          font-size: 18px;
          display: inline-block;
          @include margin(0, 0, 20px, 0);
        }
        &__number {
          color: $white-color;
          font-size: 18px;
          display: block;
          @include margin(0, 0, 10px, 0);
          &:hover {
            color: $brand-color;
          }
        }

        &__address {
          color: $white-color;
          font-size: 18px;
          height: 55px;

          @include breakpoint(sm) {
            @include padding(0, 20px, 0, 0);
            display: none;
          }
        }
      }
    }
  }

  #overlay-menu__item {
    .box {
      opacity: 1;
      &:hover .cursor-link {
        opacity: 1;
      }
    }
    &:hover > .box:not(:hover) > .cursor-link {
      opacity: 0.1;
    }
  }

  .clock {
    border-radius: 100%;
    background: none;
    border: 2px solid $white-color;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 345px;
    right: 425px;

    @include breakpoint(lp) {
      right: 310px;
      bottom: 400px;
    }
    @include breakpoint(sm) {
      left: 30px;
      right: initial;
      bottom: 175px;
    }
    .middle {
      position: absolute;
      @include margin(auto, auto, auto, auto);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 12px;
      height: 12px;
      background: $white-color;
      border-radius: 50%;
      border: 2px solid #1b1b1b;
      z-index: 1;
    }
    .hour {
      position: absolute;
      margin: auto;
      left: 49%;
      bottom: 50%;
      background: $white-color;
      width: 3px;
      height: 28%;
      border-radius: 4px;
      transform: rotate(0);
      transform-origin: 50% 100%;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    }
    .minute {
      @extend .hour;
      transform: rotate(0);
      height: 40%;
      background: $white-color;
    }
    .second {
      @extend .hour;
      background: $brand-color;
      width: 2px;
      left: 49.5%;
      transform: rotate(0);
      height: 40%;
    }
  }
}

header.header-compressed {
  .logo {
    width: 55px;
    background: url(../../../assets/images/logo-secondary.svg) no-repeat;
  }
}
