<header>
  <a routerLink="home" class="logo cursor-link"></a>
  <div id="full-screen-menu">
    <div class="button_container cursor-link" id="toggle">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </div>
    <div class="overlay" id="overlay">
      <a routerLink="home" class="logo-menu cursor-link"></a>
      <nav class="overlay-menu">
        <ul id="overlay-menu__item">
          <li class="box"><a routerLink='case-studies' class="cursor-link">
              <!-- <span class="number">01</span> -->
              work we done</a></li>
          <li class="box"><a routerLink='what-we-do' class="cursor-link">
              <!--   <span class="number">02</span> -->
              what we do</a></li>




          <!--  <li class="box sub-item">
            <a routerLink='/services/front-end-development' class="cursor-link">Back End Development</a>
          </li>
          <li class="box sub-item">
            <a routerLink='/services/front-end-development' class="cursor-link">Front End Development</a>
          </li> -->


          <li class="box"><a routerLink='who-we-are' class="cursor-link">
              <!-- <span class="number">03</span> -->
              who we are</a></li>
          <!-- <li class="box"><a routerLink='what-we-offer' class="cursor-link">
              <span class="number">04</span>what we offer</a></li> -->
          <li class="box"><a routerLink='get-in-touch' class="cursor-link">
              <!-- <span class="number">04</span> -->
              get in touch</a>
          </li>
        </ul>
      </nav>
      <div class="clock">
        <div class="middle"></div>
        <div id="hour" class="hour"></div>
        <div id="minute" class="minute"></div>
        <div id="second" class="second"></div>
      </div>


      <div class="menu-contact-tab">
        <ul class="nav nav-tabs" id="menu-contact-tab" role="tablist">

          <li class="nav-item">
            <a class="nav-link active cursor-link" id="usa-tab" data-toggle="tab" href="#profile">USA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  cursor-link" id="uae-tab" data-toggle="tab" href="#gcc-header">GCC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  cursor-link" id="pak-tab" data-toggle="tab" href="#home">PAKISTAN</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade" id="gcc-header">
            <div class="menu-contact-info">
              <a href="mailto:hello@wearecreative.net"
                class="menu-contact-info__link  sliding-underline-link cursor-link">hello@wearecreative.net</a>
              <a href="tel:+923464450447" class="menu-contact-info__number cursor-link">(+971) 55-1234-780</a>
              <p class="menu-contact-info__address">
                Building # 37, Dubai Healthcare City, Dubai - UAE

              </p>
            </div>
          </div>

          <div class="tab-pane fade" id="home">
            <div class="menu-contact-info">
              <a href="mailto:hello@wearecreative.net"
                class="menu-contact-info__link  sliding-underline-link cursor-link">hello@wearecreative.net</a>
              <a href="tel:+923464450447" class="menu-contact-info__number cursor-link">(+92) 346-4450447</a>
              <p class="menu-contact-info__address">Office # 311, Arooj Center, Fareed Court Road Lahore

              </p>
            </div>
          </div>

          <div class="tab-pane fade show active" id="profile">
            <div class="menu-contact-info">
              <a href="mailto:hello@wearecreative.net"
                class="menu-contact-info__link  sliding-underline-link cursor-link">hello@wearecreative.net</a>
              <a href="tel:+14045512288" class="menu-contact-info__number cursor-link">

                +1 (404) 551-2288
              </a>
              <p class="menu-contact-info__address">
                907 Six OAKS CIR Norcross GA 30093</p>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</header>