@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

.services-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  @include padding(0, 0, 0, 0);

  .service-row {
    @include margin(0, 0, 100px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 100px, 0);
    }

    &__left-col {
      position: relative;

      .services-graphics-bottom {
        position: absolute;
        right: -200px;
        width: 100%;
        top: 0;
        z-index: 1;
        img {
          width: 100%;
        }

        @include breakpoint(sm) {
          right: -100px;
        }
      }
      .services-graphics-top {
        position: absolute;
        right: -180px;
        width: 45%;
        top: -50px;
        z-index: 1;
        img {
          width: 100%;
        }

        @include breakpoint(sm) {
          right: -70px;
        }
      }

      .services-graphics-bottom-reverse {
        position: absolute;
        left: -200px;
        width: 100%;
        top: 0;
        z-index: 1;
        img {
          width: 100%;
        }

        @include breakpoint(sm) {
          left: -100px;
        }
      }
      .services-graphics-top-reverse {
        position: absolute;
        left: -180px;
        width: 45%;
        top: -50px;
        z-index: 1;
        img {
          width: 100%;
        }

        @include breakpoint(sm) {
          left: -70px;
        }
      }
    }

    &__figure {
      justify-content: center;
      align-items: center;
      display: flex;
      height: 100%;
      position: relative;

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
        height: auto;
      }
      img {
        width: 80%;
        position: relative;
        z-index: 2;
        @include breakpoint(sm) {
          width: 100%;
        }

        /* @include breakpoint(lp) {
          width: 70%;
        } */
      }
    }

    &__caption {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      flex-direction: column;
      height: 450px;
      @include transition(all 0.5s ease);

      @include breakpoint(sm) {
        height: auto;
      }
    }
    &__caption-num-mobile {
      display: none;

      @include breakpoint(sm) {
        color: #f8f8f8;
        font-size: 100px;
        font-weight: 700;
        position: absolute;
        z-index: -1;
        top: -30px;
        right: 0;
        display: block;
      }
    }

    &__title {
      @include margin(0, 0, 40px, 0);
      color: $brand-color;
      font-size: 40px;
      font-weight: 700;

      @include breakpoint(sm) {
        font-size: 30px;
        @include margin(0, 0, 20px, 0);
      }
    }
    &__content {
      color: $brand-second-color;
      font-size: 25px;
      @include breakpoint(sm) {
        font-size: 22px;
      }
    }

    &__description {
      color: $brand-second-color;
      font-size: 25px;
      @include breakpoint(sm) {
        font-size: 22px;
      }
    }

    &__list-item {
      color: $brand-second-color;
      font-size: 25px;
      @include margin(0, 0, 10px, 40px);
      position: relative;
      &:before {
        position: absolute;
        content: url(../../assets/images/verified.svg);
        width: 26px;
        height: 26px;
        left: -40px;
        top: 2px;
      }
    }

    &:hover {
      /*.service-row__figure {
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
        transform: translateY(20px);
      }
       .service-row__caption {
        background: $brand-second-color;
      }
      .service-row__title {
        color: $white-color;
      }
      .service-row__description {
        color: $white-color;
      } */
    }
  }

  .shapes-wrap {
    position: absolute;
    height: 800px;
    bottom: 0;

    @include breakpoint(sm) {
      display: none;
    }

    .shape-black {
      position: absolute;
      left: 0;
      top: 65px;
      z-index: 9;
    }
    .shape-red {
      position: absolute;
      left: -30px;
      top: -50px;
      z-index: 10;
    }
    .shape-blue {
      position: absolute;
      left: -60px;
      bottom: 0;
      z-index: 11;
    }
  }

  .shapes-wrap-flip {
    position: absolute;
    height: 800px;
    top: 250px;
    right: 0;
    transform: scaleX(-1);

    @include breakpoint(sm) {
      display: none;
    }

    .shape-black-flip {
      position: absolute;
      right: -75px;
      top: 65px;
      z-index: 9;
    }
    .shape-red-flip {
      position: absolute;
      right: -130px;
      top: -50px;
      z-index: 10;
    }
    .shape-blue-flip {
      position: absolute;
      right: -170px;
      bottom: 0;
      z-index: 11;
    }
  }
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $brand-second-color;
}

.svg-icon circle {
  stroke: $brand-second-color;
  stroke-width: 1;
}
