<!-- Button trigger modal -->
<button  type="button" class="get-started-btn sliding-underline-link cursor-link" data-toggle="modal" data-target="#get-started">
  Get Started</button>
<!-- Modal -->
<app-get-started></app-get-started>
<div class="wrapper">
  <div class="services-wrap">

    <div class="container-fluid">
      <div class="row">
        <div class="col-10 offset-1 nopadding">

          <div class="main-title-wrap">
            <div class="row">
              <div class="col-lg-4">
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">What</span>
                </div>
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">We</span>
                </div>
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Do<b
                      class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="heading-content-wrap">
                  <div class="heading-content">
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                      We provide web development services by which you can generate handsome revenue and
                      also appropriate stature in the market and sorroundings.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <section>
            <div class="service-row">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="service-row__left-col">
                    <figure class="service-row__figure">
                      <img src="assets/images/web-development.svg" class="img-fluid">
                      <div class="services-graphics-bottom-reverse wow fadeInLeft" data-wow-duration="3s"
                        data-wow-delay="0.6s">
                        <img src="assets/images/services-graphics-reverse-01.png">
                      </div>
                      <div class="services-graphics-top-reverse wow fadeInLeft" data-wow-duration="4s"
                        data-wow-delay="0.9s">
                        <img src="assets/images/circle.png">
                      </div>
                    </figure>
                  </div>

                </div>
                <div class="col-lg-6 col-md-6">
                  <figcaption class="service-row__caption">
                    <h2 class="service-row__title">Web Development</h2>
                    <p class="service-row__description">
                      Custom web application development by our expert web app developers. Front-end & design, backend,
                      database, and server scale designed to fit your custom workflow.
                    </p>
                    <a routerLink='/' class="action-button cursor-link">
                      <span class="action-button__text">Read More</span>
                      <div class="action-button__shapes">
                        <div class="action-button__rectangle"></div>
                        <div class="action-button__arrow">
                          <svg height="16" width="16">
                            <polygon points="2,2 8,5.5 2,10"></polygon>
                          </svg>
                        </div>
                        <div class="action-button__circles">
                          <svg height="64" width="64" class="action-button__circle action-button__circle--base">
                            <circle cx="32" cy="32" r="28">
                            </circle>
                          </svg>
                          <svg height="64" width="64" class="action-button__circle action-button__circle--fill">
                            <circle cx="32" cy="32" r="28"></circle>
                          </svg>
                        </div>
                      </div>
                    </a>
                  </figcaption>
                </div>
              </div>
            </div>

            <div class="service-row">
              <div class="row flex-row-reverse">
                <div class="col-lg-6">
                  <div class="service-row__left-col">
                    <figure class="service-row__figure">
                      <img src="assets/images/app-development.svg" class="img-fluid">
                      <div class="services-graphics-bottom wow fadeInRight" data-wow-duration="3s"
                        data-wow-delay="0.6s">
                        <img src="assets/images/services-graphics-01.png">
                      </div>
                      <div class="services-graphics-top wow fadeInRight" data-wow-duration="4s" data-wow-delay="0.9s">
                        <img src="assets/images/circle.png">
                      </div>
                    </figure>
                  </div>

                </div>
                <div class="col-lg-6">
                  <figcaption class="service-row__caption">
                    <h2 class="service-row__title">App Development</h2>
                    <p class="service-row__description">
                      If you’re looking to leverage mobile technology for your business, our best app developers are at
                      your
                      service. We provide iOS and Android mobile application development services so you can reach your
                      customers on their favorite devices.
                    </p>
                    <a routerLink='/' class="action-button cursor-link">
                      <span class="action-button__text">Read More</span>
                      <div class="action-button__shapes">
                        <div class="action-button__rectangle"></div>
                        <div class="action-button__arrow">
                          <svg height="16" width="16">
                            <polygon points="2,2 8,5.5 2,10"></polygon>
                          </svg>
                        </div>
                        <div class="action-button__circles">
                          <svg height="64" width="64" class="action-button__circle action-button__circle--base">
                            <circle cx="32" cy="32" r="28">
                            </circle>
                          </svg>
                          <svg height="64" width="64" class="action-button__circle action-button__circle--fill">
                            <circle cx="32" cy="32" r="28"></circle>
                          </svg>
                        </div>
                      </div>
                    </a>

                  </figcaption>
                </div>
              </div>
            </div>

            <div class="service-row">
              <div class="row">
                <div class="col-lg-6">
                  <div class="service-row__left-col">
                    <figure class="service-row__figure">
                      <img src="assets/images/ui-ux-design.svg" class="img-fluid">
                      <div class="services-graphics-bottom-reverse wow fadeInLeft" data-wow-duration="3s"
                        data-wow-delay="0.6s">
                        <img src="assets/images/services-graphics-reverse-01.png">
                      </div>
                      <div class="services-graphics-top-reverse wow fadeInLeft" data-wow-duration="4s"
                        data-wow-delay="0.9s">
                        <img src="assets/images/circle.png">
                      </div>
                    </figure>
                  </div>

                </div>
                <div class="col-lg-6">
                  <figcaption class="service-row__caption">

                    <h2 class="service-row__title">UI / UX Design</h2>
                    <p class="service-row__description">
                      UI refers to user interface design, which includes all visual design elements in the series of web
                      pages
                      or screens.
                      UX refers to user experience, which is the internal experience that a user participates in as they
                      interact with a brand's
                      website, product, or service.
                    </p>
                    <a routerLink='/' class="action-button cursor-link">
                      <span class="action-button__text">Read More</span>
                      <div class="action-button__shapes">
                        <div class="action-button__rectangle"></div>
                        <div class="action-button__arrow">
                          <svg height="16" width="16">
                            <polygon points="2,2 8,5.5 2,10"></polygon>
                          </svg>
                        </div>
                        <div class="action-button__circles">
                          <svg height="64" width="64" class="action-button__circle action-button__circle--base">
                            <circle cx="32" cy="32" r="28">
                            </circle>
                          </svg>
                          <svg height="64" width="64" class="action-button__circle action-button__circle--fill">
                            <circle cx="32" cy="32" r="28"></circle>
                          </svg>
                        </div>
                      </div>
                    </a>

                  </figcaption>
                </div>
              </div>
            </div>

            <div class="service-row">
              <div class="row flex-row-reverse">
                <div class="col-lg-6">
                  <div class="service-row__left-col">
                    <figure class="service-row__figure">
                      <img src="assets/images/backend-dvelopment.svg" class="img-fluid">
                      <div class="services-graphics-bottom wow fadeInRight" data-wow-duration="3s"
                        data-wow-delay="0.6s">
                        <img src="assets/images/services-graphics-01.png">
                      </div>
                      <div class="services-graphics-top wow fadeInRight" data-wow-duration="4s" data-wow-delay="0.9s">
                        <img src="assets/images/circle.png">
                      </div>
                    </figure>

                  </div>

                </div>
                <div class="col-lg-6">
                  <figcaption class="service-row__caption">
                    <h2 class="service-row__title">Back End Development</h2>
                    <p class="service-row__description">
                      Back end Development refers to the server side of development where you are primarily focused on
                      how
                      the
                      site works.
                      Making updates and changes in addition to monitoring functionality of the site will be your
                      primary
                      responsibility.
                    </p>
                    <a routerLink='/services/back-end-development' class="action-button cursor-link">
                      <span class="action-button__text">Read More</span>
                      <div class="action-button__shapes">
                        <div class="action-button__rectangle"></div>
                        <div class="action-button__arrow">
                          <svg height="16" width="16">
                            <polygon points="2,2 8,5.5 2,10"></polygon>
                          </svg>
                        </div>
                        <div class="action-button__circles">
                          <svg height="64" width="64" class="action-button__circle action-button__circle--base">
                            <circle cx="32" cy="32" r="28">
                            </circle>
                          </svg>
                          <svg height="64" width="64" class="action-button__circle action-button__circle--fill">
                            <circle cx="32" cy="32" r="28"></circle>
                          </svg>
                        </div>
                      </div>
                    </a>
                  </figcaption>
                </div>
              </div>
            </div>



            <div class="service-row">
              <div class="row">
                <div class="col-lg-6">
                  <div class="service-row__left-col">
                    <figure class="service-row__figure">
                      <img src="assets/images/front-end-development.svg" class="img-fluid">
                      <div class="services-graphics-bottom-reverse wow fadeInLeft" data-wow-duration="3s"
                        data-wow-delay="0.6s">
                        <img src="assets/images/services-graphics-reverse-01.png">
                      </div>
                      <div class="services-graphics-top-reverse wow fadeInLeft" data-wow-duration="4s"
                        data-wow-delay="0.9s">
                        <img src="assets/images/circle.png">
                      </div>
                    </figure>
                  </div>

                </div>
                <div class="col-lg-6">
                  <figcaption class="service-row__caption">
                    <h2 class="service-row__title">Front End Development</h2>
                    <p class="service-row__description">
                      Front end development is mostly
                      focused on what some may coin the "client side" of development. Front end developers will be
                      engaged
                      in
                      analyzing code, design, and debugging applications along with
                      ensuring a seamless user experience.
                    </p>
                    <a routerLink='/services/front-end-development' class="action-button cursor-link">
                      <span class="action-button__text">See Detail and Pricing</span>
                      <div class="action-button__shapes">
                        <div class="action-button__rectangle"></div>
                        <div class="action-button__arrow">
                          <svg height="16" width="16">
                            <polygon points="2,2 8,5.5 2,10"></polygon>
                          </svg>
                        </div>
                        <div class="action-button__circles">
                          <svg height="64" width="64" class="action-button__circle action-button__circle--base">
                            <circle cx="32" cy="32" r="28">
                            </circle>
                          </svg>
                          <svg height="64" width="64" class="action-button__circle action-button__circle--fill">
                            <circle cx="32" cy="32" r="28"></circle>
                          </svg>
                        </div>
                      </div>
                    </a>
                  </figcaption>
                </div>
              </div>
            </div>

            <div class="service-row">
              <div class="row flex-row-reverse">
                <div class="col-lg-6">
                  <div class="service-row__left-col">
                    <figure class="service-row__figure">
                      <img src="assets/images/responsive-design.svg" class="img-fluid">
                      <div class="services-graphics-bottom wow fadeInRight" data-wow-duration="3s"
                        data-wow-delay="0.6s">
                        <img src="assets/images/services-graphics-01.png">
                      </div>
                      <div class="services-graphics-top wow fadeInRight" data-wow-duration="4s" data-wow-delay="0.9s">
                        <img src="assets/images/circle.png">
                      </div>
                    </figure>
                  </div>

                </div>
                <div class="col-lg-6">
                  <figcaption class="service-row__caption">
                    <h2 class="service-row__title">Responsive Web Design</h2>
                    <p class="service-row__description">
                      Responsive Design is a design
                      philosophy where in the design of the system (the representation and the layout) responds/adapts
                      depending upon the layout of the device.
                    </p>
                    <a routerLink='/' class="action-button cursor-link">
                      <span class="action-button__text">Read More</span>
                      <div class="action-button__shapes">
                        <div class="action-button__rectangle"></div>
                        <div class="action-button__arrow">
                          <svg height="16" width="16">
                            <polygon points="2,2 8,5.5 2,10"></polygon>
                          </svg>
                        </div>
                        <div class="action-button__circles">
                          <svg height="64" width="64" class="action-button__circle action-button__circle--base">
                            <circle cx="32" cy="32" r="28">
                            </circle>
                          </svg>
                          <svg height="64" width="64" class="action-button__circle action-button__circle--fill">
                            <circle cx="32" cy="32" r="28"></circle>
                          </svg>
                        </div>
                      </div>
                    </a>

                  </figcaption>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>


    <!-- <div class="shapes-wrap">
      <div class="shape-black wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.9s">
        <img src="assets/images/bg-black.png">
      </div>
      <div class="shape-red wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
        <img src="assets/images/bg-red.png">
      </div>
      <div class="shape-blue wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
        <img src="assets/images/bg-blue.png">
      </div>
    </div>
    <div class="shapes-wrap-flip">
      <div class="shape-black-flip wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.2s">
        <img src="assets/images/bg-black.png">
      </div>
      <div class="shape-red-flip wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.9s">
        <img src="assets/images/bg-red.png">
      </div>
      <div class="shape-blue-flip wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
        <img src="assets/images/bg-blue.png">
      </div>
    </div> -->
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1 nopadding">
        <div class="main-title-wrap">
          <div class="row">
            <div class="col-lg-4">
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Our</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Latest</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Work<b
                    class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="heading-content-wrap">
                <div class="heading-content">
                  <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                    A showcase of our most recent projects.
                    Rather than telling you all about our process and talent, we invite you to take a look at our
                    projects.
                  </p>
                </div>

                <a routerLink='/case-studies' class="action-button cursor-link wow fadeIn" data-wow-duration="1s"
                  data-wow-delay="1.2s">
                  <span class="action-button__text">View All Projects</span>
                  <div class="action-button__shapes">
                    <div class="action-button__rectangle"></div>
                    <div class="action-button__arrow">
                      <svg height="16" width="16">
                        <polygon points="2,2 8,5.5 2,10"></polygon>
                      </svg>
                    </div>
                    <div class="action-button__circles">
                      <svg height="64" width="64" class="action-button__circle action-button__circle--base">
                        <circle cx="32" cy="32" r="28">
                        </circle>
                      </svg>
                      <svg height="64" width="64" class="action-button__circle action-button__circle--fill">
                        <circle cx="32" cy="32" r="28"></circle>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>