<div class="wrapper">


  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1 nopadding">



        <div class="main-title-wrap">
          <div class="row">
            <div class="col-lg-4">
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Page</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Not</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Found<b
                    class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="heading-content-wrap">
                <div class="heading-content">
                  <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
Sorry, the page you tried cannot be found. <br>
You may typed the address incorrectly or you may have used an outdated link.

                  </p>
                </div>

                <a routerLink='/home' class="action-button cursor-link wow fadeIn" data-wow-duration="1s"
                  data-wow-delay="1.2s">
                  <span class="action-button__text">Back to Home</span>
                  <div class="action-button__shapes">
                    <div class="action-button__rectangle"></div>
                    <div class="action-button__arrow">
                      <svg height="16" width="16">
                        <polygon points="2,2 8,5.5 2,10"></polygon>
                      </svg>
                    </div>
                    <div class="action-button__circles">
                      <svg height="64" width="64" class="action-button__circle action-button__circle--base">
                        <circle cx="32" cy="32" r="28">
                        </circle>
                      </svg>
                      <svg height="64" width="64" class="action-button__circle action-button__circle--fill">
                        <circle cx="32" cy="32" r="28"></circle>
                      </svg>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>