<footer>
  <ul class="social-icon">
   <li class="social-icon__list-item">
      <a class="social-icon__link sweep-btn--right cursor-link" target="_blank" href="https://web.facebook.com/WeAreCreative.net/">Facebook</a>
    </li>
    <li class="social-icon__list-item">
      <a class="social-icon__link sweep-btn--right cursor-link" href="https://www.linkedin.com/company/wearecreative11" target="_blank">Linkedin</a>
    </li>
    <li class="social-icon__list-item">
      <a class="social-icon__link sweep-btn--right cursor-link" href="https://www.behance.net/faisalsaeed786" target="_blank">Behance</a>
    </li>
  </ul>
  <div class="footer__text">
    Wearecreative © 2020
  </div>



  <button class="footer__top__button sweep-btn--left cursor-link">
    <span class="footer__top__text">top</span>
    <span class="bar-wrapper bar-wrapper--up">
      <span class="bar-whitespace">
        <span class="bar-line bar-line--up"></span>
      </span>
    </span>
  </button>

   



</footer>