@import "../../../assets/scss/variables", "../../../assets/scss/mixins", "../../../assets/scss/layout",
  "../../../assets/scss/ui-elements";

footer {
  position: relative;

  .footer__text {
    padding: 45px;
    color: $white-color;
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $brand-second-color;
  }

  .footer__top__button {
    background-color: $brand-color;
    color: $white-color;
    width: 5rem;
    min-height: 15rem;
    bottom: 0;
    border: 0;
    right: 0;
    position: absolute;

    .footer__top__text {
      -webkit-transform: rotate(-90deg) translateX(-3rem);
      transform: rotate(-90deg) translateX(-3rem);
      position: relative;
      display: block;
      text-transform: capitalize;
    }
    .bar-wrapper {
      width: 2px;
      height: 58px;
      position: absolute;
      left: calc(50% - 2px);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      @include margin(0, 0, 0, 0);

      cursor: pointer;
    }
    .bar-line,
    .bar-whitespace {
      height: 100%;
      width: 100%;
      position: absolute;
    }
    .bar-whitespace {
      @include margin(0, auto, 0, auto);
      overflow: hidden;
      z-index: 1;
    }
    .bar-line--up {
      animation: slide-up 2s steps(100) infinite;
    }
    .bar-line {
      background-color: $white-color;
      left: 0;
      top: 0;
    }
    .bar-wrapper--up {
      top: 2.14286rem;
      left: 50%;
    }
  }

  .social-icon {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    width: 150px;
    left: 0;
    bottom: 110px;
    background: $brand-color;

    &__list-item {
      margin-bottom: 2px;
    }
    &__link {
      display: block;
      color: $white-color;
      text-align: center;
      font-size: 15px;
      padding: 25px 25px;
    }
  }
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
