
<app-header></app-header>
<main ngxUiLoaderBlurred blur="12">
  <div class="cursor cursor-shadow"></div>
  <div class="cursor cursor-dot"></div>
  <div class="fb-customerchat" page_id="112356900296155"></div>


  <router-outlet (activate)="onActivate($event)"></router-outlet>
  <section class="container-fluid stripes">
    <div class="row">
      <div class="col-10 offset-1">
        <div class="row">
          <div class="col-6 col-md-2 stripe"></div>
          <div class="col-md-2 stripe hidden-sm-down"></div>
          <div class="col-md-2 stripe hidden-sm-down"></div>
          <div class="col-md-2 stripe hidden-sm-down"></div>
          <div class="col-md-2 stripe hidden-sm-down"></div>
          <div class="col-6 col-md-2 stripe"></div>
        </div>
      </div>
    </div>
  </section>
</main>
<ngx-ui-loader></ngx-ui-loader>


<app-footer></app-footer>


