@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

.text-rotate-wrap {
  display: flex;
  justify-content: center;
  color: $white-color;
  @include padding(100px, 0, 100px, 0);
  background: $brand-second-color;
  font-size: 80px;

  @include breakpoint(sm) {
    font-size: 24px;
    @include padding(50px, 0, 50px, 0);
  }

  span {
    @include margin(0, 25px, 0, 0);
    @include breakpoint(sm) {
      @include margin(0, 5px, 0, 0);
    }
  }
  &__item {
    font-size: 80px;
    color: $white-color;
    font-weight: 700;

    @include breakpoint(sm) {
      font-size: 24px;
    }
  }
}

.our-vision {
  &__content {
    font-size: 45px;
    color: $brand-second-color;
    @include breakpoint(sm) {
      font-size: 22px;
    }
  }
}
.our-core-values {
  @include margin(0, 0, 50px, 0);
  &__item {
    @include margin(0, 0, 90px, 0);
    position: relative;
    @include padding(0, 40px, 0, 0);
  }
  &__title {
    font-size: 22px;
    font-weight: 700;
    color: $brand-second-color;
    @include margin(0, 0, 20px, 0);
  }
  &__number {
    color: #f8f8f8;
    font-size: 120px;
    font-weight: 700;
    position: absolute;
    top: -85px;
    z-index: -1;
    left: 0;
  }
  &__content {
    font-size: 18px;
    color: $black-color;
  }
}

.hero-image {
  &__wrap {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }

  &__big-img {
    margin-left: 16.66666%;
    width: 50%;

    @include breakpoint(lp) {
      width: 66.66666%;
    }
    @include breakpoint(sm) {
      width: 100%;
      margin-left: 0;
    }
    img {
      width: 100%;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    }
  }
  &__sm-img {
    position: absolute;
    bottom: -90px;
    right: 0;

    @include breakpoint(sm) {
      display: none;
    }

    @include breakpoint(lp) {
      text-align: right;
    }

    img {
      width: 67%;
      box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);

      @include breakpoint(lp) {
        width: 36.7%;
      }
    }
  }
}

#counter {
  .counter-Txt {
    text-align: center;
    @include margin(0, 0, 0, 0);
    @include breakpoint(sm) {
      @include margin(0, 0, 40px, 0);
    }
  }
  .counter-value {
    font-size: 50px;
    color: $brand-second-color;
  }
  h5 {
    color: $black-color;
  }
}

.testimonial {
  @include margin(0, 0, 0, 0);

  .item-wrap {
    position: relative;
    &:before {
      position: absolute;
      content: open-quote;
      font-size: 425px;
      top: 172px;
      line-height: 100px;
      font-family: arial;
      left: 0;

      color: rgba($black-color, 0.1);
    }
  }

  .testimonial-item {
    text-align: center;

    @include margin(200px, 0, 0, 0);

    @include breakpoint(lp) {
      @include margin(100px, 0, 0, 0);
    }
    @include breakpoint(sm) {
      @include margin(100px, 0, 0, 0);
    }

    &__content {
      font-size: 22px;
      color: $brand-second-color;

      @include margin(0, 0, 40px, 0);
      @include padding(0, 50px, 0, 50px);

      @include breakpoint(sm) {
        @include padding(0, 0, 0, 0);
      }
    }
    &__name {
      font-size: 22px;
      @include margin(0, 0, 0, 0);
      color: $brand-color;
      display: block;
    }
    &__designation {
      font-size: 18px;
    }
  }
}

.our-teams {
  &__item {
    @include padding(50px, 50px, 50px, 50px);
    @include margin(0, 0, 150px, 0);
    background: $white-color;
    position: relative;
    height: 310px;
    max-height: 100%;
    @include transition(all 0.5s ease);
    box-shadow: 0 5px 20px rgba($black-color, 0.1);

    &:hover {
      @include transform(translateY(-5px));
    }
  }

  &__item--reverse {
    flex-direction: row-reverse;
    display: flex;
  }

  &__figure-holder {
    position: absolute;
    right: -50px;
    top: -70px;
    height: 380px;
    overflow: hidden;
    max-width: 300px;
    img {
      max-width: 300px;
    }
  }

  &--figure-holder-reverse {
    left: -50px;
  }

  &__caption {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
  }

  &__name {
    font-size: 25px;
    color: $brand-color;
    font-weight: 700;
    @include margin(0, 0, 10px, 0);
  }
  &__designation {
    font-size: 20px;
    color: $brand-second-color;
    @include margin(0, 0, 10px, 0);
    display: block;
  }
  &__link {
    font-size: 16px;
    color: $black-color;
    @include margin(0, 0, 50px, 0);
    display: inline-block;
  }
  &__linkedin {
    color: $black-color;
    display: block;
    background: $brand-second-color;
    @include border-radius(50%);
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    color: $white-color;
    font-size: 16px;
    &:hover {
      background: $brand-color;
    }
  }

}
