<!-- Button trigger modal -->
<button  type="button" class="get-started-btn sliding-underline-link cursor-link" data-toggle="modal" data-target="#get-started">
  Get Started</button>
<!-- Modal -->
<app-get-started></app-get-started>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1 nopadding">

        <div class="main-title-wrap">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Who</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">We</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Are<b
                    class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="heading-content-wrap">
                <div class="heading-content">
                  <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                    <span class="sm-text">We Are_</span>
                    creative team who understands the clients requirement and performs passionately with joint
                    efforts together to execute a digital project which make sense.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="animated-line">
          <span class="bar-wrapper bar-wrapper--up">
            <span class="bar-whitespace">
              <span class="bar-line bar-line--up"></span>
            </span>
          </span>
        </div>



        <section class="text-rotate-wrap">
          <span>We </span>
          <div class="text-rotate-wrap__item">
          </div>
        </section>

        <section class="our-vision">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <div class="sub-heading">
                <span class="sub-heading__line wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.4s"></span>
                <div class="sub-heading__wrap">
                  <h2 class="sub-heading__title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                    Our Vision
                  </h2>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="our-vision__content">
                We treat each of our clients individually and therefore we do not offer set prices on any service.
                We
                offer affordable low cost web design with
                our web design services for all personal web sites and business web sites. Our professionals
                believe
                that the key factor for the
                success of any ongoing project is to build a spotless communication bond with our client.
              </div>
            </div>
          </div>
        </section>

        <section class="hero-image">
          <div class="hero-image__wrap">
            <figure class="hero-image__big-img wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
              <img src="assets/images/wearecreative.jpg" alt="">
            </figure>
            <figure class="hero-image__sm-img wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
              <img src="assets/images/image3_1441_1x.jpg" alt="">
            </figure>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-4">
              <div class="sub-heading">
                <span class="sub-heading__line wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.4s"></span>
                <div class="sub-heading__wrap">
                  <h2 class="sub-heading__title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                    Why should you choose us?
                  </h2>
                </div>
              </div>
            </div>
            <div class="col-md-8" id="counter">
              <div class="row">
                <div class="col-md-4 counter-Txt  wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                  <span class="counter-value" data-count="159745">0</span>
                  <h5>Lines of code</h5>
                </div>


                <div class="col-md-4 counter-Txt  wow fadeIn" data-wow-duration="1s" data-wow-delay="1.4s">
                  <span class="counter-value" data-count="6">0</span>
                  <h5>Happy Clients</h5>
                </div>

                <div class="col-md-4 counter-Txt  wow fadeIn" data-wow-duration="1s" data-wow-delay="1.6s">
                  <span class="counter-value" data-count="59">0</span>
                  <h5>Cups of coffee</h5>
                </div>
              </div>
            </div>

          </div>
        </section>

        <section class="our-core-values">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <div class="sub-heading">
                <span class="sub-heading__line wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.4s"></span>
                <div class="sub-heading__wrap">
                  <h2 class="sub-heading__title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                    Our Core Values
                  </h2>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row no-gutters">
                <div class="col-lg-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                  <div class="our-core-values__item">
                    <span class="our-core-values__number wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay="1s">01</span>
                    <h3 class="our-core-values__title">Work With Heart</h3>
                    <p class="our-core-values__content">Work deserves our heart. What we do can impact others and,
                      if
                      you believe, honor God.</p>
                  </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
                  <div class="our-core-values__item">
                    <span class="our-core-values__number wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay="2s">02</span>
                    <h3 class="our-core-values__title">Serve Our Clients</h3>
                    <p class="our-core-values__content">Doing great work isn't enough. Look for ways to serve the
                      clients who've hired us.</p>
                  </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.4s">
                  <div class="our-core-values__item">
                    <span class="our-core-values__number wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay="3s">03</span>
                    <h3 class="our-core-values__title">Treat Others Well</h3>
                    <p class="our-core-values__content">This is a place of mutual respect, kindness and grace.</p>
                  </div>

                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.6s">
                  <div class="our-core-values__item">
                    <span class="our-core-values__number wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay="4s">04</span>
                    <h3 class="our-core-values__title">Do Good</h3>
                    <p class="our-core-values__content">Make a mark with faithful service to our clients and our
                      communities.</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="our-teams nomargin">
          <div class="main-title-wrap">
            <div class="row no-gutters">
              <div class="col-lg-4">
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Our</span>
                </div>
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Tech</span>
                </div>
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Team<b
                      class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="row no-gutters">

                  <div class="col-lg-9 offset-lg-3">
                    <div class="our-teams__item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                      <figure class="our-teams__figure-holder">
                        <img data-alt-src="assets/images/TG6nxUykl3J9DWd9IADw_diddi-hover.png"
                          src="assets/images/LiuHVKExgzrX9JoVahhh_diddi-normal.png" />
                      </figure>
                      <figcaption class="our-teams__caption">
                        <h3 class="our-teams__name">Faisal Saeed</h3>
                        <span class="our-teams__designation">Creative Front End Developer
                        </span>
                        <a href="mailto:hello@wearecreative.net"
                          class="our-teams__link sliding-underline-link">fs@wearecreative.net</a>

                        <a href="https://www.linkedin.com/in/faisalsaeed128/" class="our-teams__linkedin"
                          target="_blank">
                          <i class="fa fa-linkedin"></i>
                        </a>
                      </figcaption>
                    </div>
                  </div>

                  <div class="col-lg-9">
                    <div class="our-teams__item  our-teams__item--reverse wow fadeIn" data-wow-duration="1s"
                      data-wow-delay="0.4s">
                      <figure class="our-teams__figure-holder our-teams--figure-holder-reverse">
                        <img data-alt-src="assets/images/TG6nxUykl3J9DWd9IADw_diddi-hover.png"
                          src="assets/images/LiuHVKExgzrX9JoVahhh_diddi-normal.png" />
                      </figure>
                      <figcaption class="our-teams__caption">
                        <h3 class="our-teams__name">Ali Mayo</h3>
                        <span class="our-teams__designation">Business Development Manager
                        </span>
                        <a href="mailto:hello@wearecreative.net"
                          class="our-teams__link sliding-underline-link">am@wearecreative.net</a>

                        <a href="https://www.linkedin.com/in/faisalsaeed128/" class="our-teams__linkedin"
                          target="_blank">
                          <i class="fa fa-linkedin"></i>
                        </a>

                       
                      </figcaption>
                    </div>
                  </div>


                </div>



              </div>
            </div>
          </div>


        </section>

        <section class="testimonial">
          <div class="main-title-wrap">
            <div class="row no-gutters">
              <div class="col-lg-4">
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">What</span>
                </div>
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s"
                    data-wow-delay="0.5s">Client</span>
                </div>
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Says<b
                      class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="item-wrap">
                  <owl-carousel [options]="{items: 1, dots: true, navigation: false, stagePadding: 0, responsive:{
                  '0':{items: 1, margin: 0, stagePadding:0},
                  '1000': { items: 1, stagePadding: 0, margin: 0, dots: true, rtl: false},
                  '1645': { items: 1, margin: 0, stagePadding: 0, dots: true }
                }}" [carouselClasses]="['owl-theme', 'sliding']">

                    <div class="item">
                      <div class="testimonial-item">
                        <p class="testimonial-item__content">
                          Outstanding work! The team is extremely responsive, professional,
                          and skilled. All our needs are met in a timely way, and the team accomplished everything
                          we
                          have
                          asked them to do.
                          An exceptional service and experience!
                        </p>
                        <span class="testimonial-item__name">Ali Raza</span>
                        <span class="testimonial-item__designation">President / A1 Estimation LLC - USA
                        </span>
                      </div>
                    </div>

                    <div class="item">
                      <div class="testimonial-item">
                        <p class="testimonial-item__content">
                          Great guys to work with, technically sound, and understand business requirement to
                          deliver the
                          right project.
                          They are responsive to any of my requests for clarification on Skype. I gladly highly
                          recommend
                          this company!

                        </p>
                        <span class="testimonial-item__name">Jack Robert</span>
                        <span class="testimonial-item__designation">Managing Director / Creativeanimo</span>
                      </div>
                    </div>


                    <!--  <div class="item">
                    <div class="testimonial-item">
                      <p class="testimonial-item__content">
                        Team are excellent to work with as always. They would go a step further on suggestions and
                        recommendations that best fit your needs. Amazing communication, quality work, and exceeding
                        expectations!
                      </p>
                      <span class="testimonial-item__name">SALIM BERBAR</span>
                      <span class="testimonial-item__designation">IT Entrepreneur, Neezz.com | FRANCE</span>
                    </div>
                  </div>
 -->
                  </owl-carousel>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>