<div class="wrapper">
  <section class="contact-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10 offset-1 nopadding">
          <div class="main-title-wrap">
            <div class="row no-gutters">
              <div class="col-lg-4">
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Get</span>
                </div>
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">In</span>
                </div>
                <div class="heading-wrap">
                  <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Touch<b
                      class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="heading-content-wrap">
                  <div class="heading-content">
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                      If your requirement fits any of the above or even anything else that has missed our imagination,
                      drop us in an inquiry or a line…
                      or even contact us! We’d sure love to discuss… business or anything beyond!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="address-tab">
            <ul class="nav nav-tabs" id="contact-tab" role="tablist">

              <li class="nav-item">
                <a class="nav-link cursor-link active" id="profile-tab" data-toggle="tab" href="#usa">USA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link cursor-link" id="home-tab" data-toggle="tab" href="#gcc">GCC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link cursor-link" id="home-tab" data-toggle="tab" href="#pak">Pakistan</a>
              </li>
            </ul>
            <div class="tab-content" id="contact-tab-content">

              <div class="tab-pane fade" id="pak">
                <div class="contact-wrap__address-wrap">
                  <p class="contact-wrap__address">
                    Office # 311, Arooj Center, Fareed Court Road Lahore
                  </p>
                </div>

                <div class="contact-info">

                  <div class="contact-info__bottom-cont">
                    <div class="contact-info__map">
                      <div class="location-pin">
                        <div class='pin'></div>
                        <div class='pulse'></div>
                      </div>
                      <figure class="image-reveal">
                        <img src="assets/images/map-pak.jpg" alt="">
                      </figure>

                    </div>
                    <div class="contact-info__right-col">

                      <div class="contact-info">
                        <div class="contact-info__item">
                          <h3 class="contact-info__title">
                            General
                            Inquiries</h3>
                          <a href="mailto:hello@wearecreative.net"
                            class="contact-info__link sliding-underline-link cursor-link">hello@wearecreative.net</a>
                        </div>
                        <div class="contact-info__item">
                          <h3 class="contact-info__title ">Tel.
                          </h3>
                          <a href="tel:(+92)3464450447" class="contact-info__number cursor-link">(+92) 346-4450447</a>
                        </div>
                        <div class="contact-info__item">
                          <h3 class="contact-info__title">Follow
                            us
                          </h3>
                          <ul class="contact-info__social-media">
                            <li class="contact-info__social-media-item">
                              <a href="https://web.facebook.com/WeAreCreative.net/" target="_blank" class="cursor-link">
                                <span data-hover="Facebook">Facebook</span></a>
                            </li>
                            <li class="contact-info__social-media-item">
                              <a href="https://www.linkedin.com/company/wearecreative11" class="cursor-link">
                                <span data-hover="Linkedin" target="_blank">Linkedin</span>
                              </a>
                            </li>
                            <li class="contact-info__social-media-item">
                              <a href="https://www.behance.net/faisalsaeed786" class="cursor-link">
                                <span data-hover="Behance" target="_blank">Behance</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="gcc">
                <div class="contact-wrap__address-wrap">
                  <p class="contact-wrap__address">
                    Building # 37, Dubai Healthcare City, Dubai - UAE
                  </p>
                </div>

                <div class="contact-info">

                  <div class="contact-info__bottom-cont">
                    <div class="contact-info__map">
                      <div class="location-pin">
                        <div class='pin'></div>
                        <div class='pulse'></div>
                      </div>
                      <figure class="image-reveal">
                        <img src="assets/images/map-uae.jpg" alt="">
                      </figure>

                    </div>
                    <div class="contact-info__right-col">

                      <div class="contact-info">
                        <div class="contact-info__item">
                          <h3 class="contact-info__title">
                            General
                            Inquiries</h3>
                          <a href="mailto:hello@wearecreative.net"
                            class="contact-info__link sliding-underline-link cursor-link">hello@wearecreative.net</a>
                        </div>
                        <div class="contact-info__item">
                          <h3 class="contact-info__title ">Tel.
                          </h3>
                          <a href="tel:(+92)3464450447" class="contact-info__number cursor-link">(+971) 55-1234-780</a>
                        </div>
                        <div class="contact-info__item">
                          <h3 class="contact-info__title">Follow
                            us
                          </h3>
                          <ul class="contact-info__social-media">
                            <li class="contact-info__social-media-item">
                              <a href="https://web.facebook.com/WeAreCreative.net/" target="_blank" class="cursor-link">
                                <span data-hover="Facebook">Facebook</span></a>
                            </li>
                            <li class="contact-info__social-media-item">
                              <a href="https://www.linkedin.com/company/wearecreative11" class="cursor-link">
                                <span data-hover="Linkedin" target="_blank">Linkedin</span>
                              </a>
                            </li>
                            <li class="contact-info__social-media-item">
                              <a href="https://www.behance.net/faisalsaeed786" class="cursor-link">
                                <span data-hover="Behance" target="_blank">Behance</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade show active" id="usa">
                <div class="contact-wrap__address-wrap">
                  <p class="contact-wrap__address">
                    907 Six OAKS CIR Norcross GA 30093
                  </p>
                </div>

                <div class="contact-info">

                  <div class="contact-info__bottom-cont">
                    <div class="contact-info__map">
                      <div class="location-pin">
                        <div class='pin'></div>
                        <div class='pulse'></div>
                      </div>


                      <figure class="image-reveal">
                        <img src="assets/images/map-usa.jpg" alt="">
                      </figure>
                    </div>
                    <div class="contact-info__right-col">

                      <div class="contact-info">
                        <div class="contact-info__item">
                          <h3 class="contact-info__title">
                            General
                            Inquiries</h3>
                          <a href="mailto:hello@wearecreative.net"
                            class="contact-info__link sliding-underline-link cursor-link" data-wow-duration="1s"
                            data-wow-delay="0.4s">hello@wearecreative.net</a>
                        </div>
                        <div class="contact-info__item">
                          <h3 class="contact-info__title">Tel.
                          </h3>
                          <a href="tel:+14045512288" class="contact-info__number cursor-link">

                            +1 (404) 551-2288
                          </a>
                        </div>
                        <div class="contact-info__item">
                          <h3 class="contact-info__title">Follow
                            us
                          </h3>
                          <ul class="contact-info__social-media">
                            <li class="contact-info__social-media-item">
                              <a href="https://web.facebook.com/WeAreCreative.net/" target="_blank" class="cursor-link">
                                <span data-hover="Facebook">Facebook</span></a>
                            </li>
                            <li class="contact-info__social-media-item">
                              <a href="https://www.linkedin.com/in/faisalsaeed128/" class="cursor-link">
                                <span data-hover="Linkedin" target="_blank">Linkedin</span>
                              </a>
                            </li>
                            <li class="contact-info__social-media-item">
                              <a href="https://www.behance.net/faisalsaeed786" class="cursor-link">
                                <span data-hover="Behance" target="_blank">Behance</span>
                              </a>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <section class="contact-form">
            <div class="main-title-wrap">
              <div class="row no-gutters">
                <div class="col-lg-4">
                  <div class="heading-wrap">
                    <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s"
                      data-wow-delay="0.3s">Drop</span>
                  </div>
                  <div class="heading-wrap">
                    <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Us</span>
                  </div>
                  <div class="heading-wrap">
                    <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Line<b
                        class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
                  </div>
                </div>
                <div class="col-lg-8">

                  <div class="service-error" *ngIf="error">
                    <h1>{{error.errorTitle}}</h1>
                    <h3>{{error.errorDesc}}</h3>
                  </div>
                  <div [hidden]="!submitted" class="contact-message">
                    <div *ngIf="model.id" class="contact-success">
                      <h2 class="success">Success!</h2>
                      <h4>Contact information has been successfully submitted.</h4>
                    </div>
                  </div>

                  <div class="form-content">
                    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
                      <div class="form-group">
                        <input type="text" name="name" id="name" [(ngModel)]="model.name"
                          class="form-control cursor-link" placeholder="" required #name="ngModel">

                        <label for="name">Full Name*</label>

                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
                          <div *ngIf="name.errors.required">
                            Name is required.
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="text" name="email" id="email" [(ngModel)]="model.email"
                          class="form-control cursor-link" placeholder="" required email #email="ngModel">
                        <label for="email">Email Address*</label>

                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                          <div *ngIf="email.errors.required">Email is required.</div>
                          <div *ngIf="email.errors.email">Email must be a valid email address.</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="number" name="phone" id="phone" [(ngModel)]="model.phone"
                          class="form-control cursor-link" placeholder="" required #phone="ngModel">
                        <label for="phone">Phone Number*</label>

                        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error">
                          <div *ngIf="phone.errors.required">
                            Phone is required.
                          </div>
                        </div>

                      </div>
                      <div class="form-group">
                        <textarea name="message" id="message" [(ngModel)]="model.message" rows="5"
                          class="form-control cursor-link" placeholder="" required #message="ngModel">
                                </textarea>
                        <label for="message">Message*</label>

                        <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error">
                          <div *ngIf="message.errors.required">Message is required.</div>
                        </div>
                      </div>

                      <div class="checkbox-holder">
                        <div class="checkboxes">
                          <input class="form-check-input" [(ngModel)]="model.terms" type="checkbox" id="agree"
                            name="agree-01" #terms="ngModel" required>
                          <label for="agree" class="form-check-label">
                            I have read and agree with WeAreCreative Terms and conditions.*
                          </label>
                          <div *ngIf="terms.invalid && (terms.dirty || terms.touched)" class="error">
                            <div *ngIf="terms.errors.required">
                              You must confirm to continue.
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                          <button class="sweep-btn--right w-100 cursor-link" [disabled]="!contactForm.form.valid">
                            Send Message
                          </button>
                        </div>
                      </div>


                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>