@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";
.contact-wrap {
  .contact-form {
    @include margin(0, 0, 0, 0);

    .form-content {
      @include padding(50px, 50px, 50px, 50px);
      background: $white-color;
      @include transition(all 0.5s ease);
      box-shadow: 0 5px 20px rgba($black-color, 0.1);

      @include breakpoint(sm) {
        @include padding(30px, 30px, 30px, 30px);
      }

      .form-group {
        position: relative;
        @include margin(0, 0, 30px, 0);
        color: $brand-second-color;
        .form-control {
          position: relative;
          display: block;
          width: 100%;
          border: none;
          border-bottom: 2px solid #f5f5f5;
          background-color: transparent;
          @include padding(0, 0, 0, 0);
          @include margin(0, 0, 5px, 0);
          height: 55px;
          outline: none !important;
          font-size: 18px;
          color: $brand-second-color !important;
          background: -webkit-linear-gradient(bottom, $brand-second-color 50%, $brand-second-color 50%);
          background: linear-gradient(to top, $brand-second-color 50%, $brand-second-color 50%);
          background-position: left bottom;
          background-size: 0 1px;
          background-repeat: no-repeat;
          @include transition(all 0.5s ease);
          @include border-radius(0);

          @include breakpoint(sm) {
            font-size: 15px;
          }
        }
        label {
          position: absolute;
          top: 0;
          left: 0;
          text-align: left;
          display: block;
          width: 100%;
          height: 52px;
          line-height: 72px;
          text-transform: capitalize;
          font-size: 18px;
          background: transparent;
          color: $brand-second-color;
          margin: 0px auto;
          cursor: text;
          @include transition(all 0.5s ease);
        }

        textarea {
          height: 250px !important;
          resize: none;
          padding-top: 20px !important;
          padding-bottom: 20px !important;
          color: $brand-second-color !important;
        }
        input {
          &:hover,
          &:focus {
            border-color: $brand-second-color;
          }
        }
        textarea {
          &:hover,
          &:focus {
            border-color: $brand-second-color;
          }
        }
        input {
          &:focus {
            background-position: left bottom;
            background-size: 100% 1px;
            box-shadow: none;
          }
        }
        textarea {
          &:focus {
            background-position: left bottom;
            background-size: 100% 1px;
            box-shadow: none;
          }
        }

        input:valid + label,
        input:focus + label {
          height: 12px;
          line-height: 1px;
          font-size: 12px;
          color: $brand-second-color;
        }
        textarea:valid + label,
        textarea:focus + label {
          height: 12px;
          line-height: 12px;
          font-size: 12px;
          color: $brand-second-color;
        }
      }
      .sweep-btn--right.disabled,
      .sweep-btn--right:disabled {
        border: 1px solid $brand-color;
        background: none;
        color: $brand-color;
      }

      .checkbox-holder{
        position: relative;
        @include margin(0, 0, 60px, 0);
        .error{
          left:0;
          top: 40px;
        }
      }


      /* &:hover{
        @include transform(translateY(-5px));
      } */
    }

    .ng-valid[required],
    .ng-valid.required {
      border-bottom: 1px solid #42a948 !important;
    }
    .error {
      color: $brand-color;
      font-size: 12px;
      position: absolute;
      right: 0;
    }
    .success {
      color: green;
    }
    .contact-message {
      text-align: center;
      @include margin(0, 0, 30px, 0);
      h2 {
        @include margin(0, 0, 10px, 0);
      }
      h4 {
        font-size: 20px;
      }
    }
  }

  &__address-wrap {
    height: 160px;
    overflow: hidden;
    width: 70%;
    @include margin(0, 0, 100px, 0);

    @include breakpoint(sm) {
      width: 100%;
      @include margin(0, 0, -40px, 0);
    }
  }
  &__address {
    font-size: 50px;
    color: $brand-second-color;
    @include breakpoint(sm) {
      font-size: 30px;
    }
  }
  .contact-info {
    @include margin(0, 0, 0, 0);

    @include breakpoint(sm) {
      @include margin(100px, 0, 0, 0);
    }

    &__bottom-cont {
      position: relative;
      width: 100%;
      height: 550px;
      @include breakpoint(lp) {
        height: 450px;
      }
    }
    &__map {
      width: 45%;
      position: absolute;
      left: 0;
      z-index: 11;
      top: 65px;
      box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);

      img {
        width: 100%;
      }
      @include breakpoint(sm) {
        width: 80%;
        top: 0;
        left: 34px;
      }
      @include breakpoint(lp) {
        top: 65px;
      }
    }

    &__right-col {
      background: $brand-second-color;
      @include padding(0, 0, 0, 260px);
      position: absolute;
      right: 0;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 66.66%;
      height: 550px;

      @include breakpoint(lp) {
        @include padding(0, 0, 0, 200px);
        height: 450px;
      }
      @include breakpoint(sm) {
        @include padding(30px, 30px, 30px, 30px);
        width: 100%;
        height: auto;
        @include margin(80px, 0, 0, 0);
      }
    }
    &__item {
      overflow: hidden;
      height: 120px;
      @include margin(0, 0, 35px, 0);

      @include breakpoint(lp) {
        height: 90px;
      }

      @include breakpoint(sm) {
        height: 80px;
        @include margin(0, 0, 30px, 0);
      }

      &:last-child {
        @include margin(0, 0, 0, 0);
        height: 60px;
      }
    }
    &__title {
      color: $white-color;
      font-size: 22px;
      @include margin(0, 0, 10px, 0);
      @include breakpoint(sm) {
        font-size: 18px;
      }
    }
    &__link {
      display: inline-block;
      color: $white-color;
      font-weight: 700;
      font-size: 55px;
      @include breakpoint(lp) {
        font-size: 35px;
      }
      @include breakpoint(sm) {
        font-size: 20px;
      }
    }
    &__number {
      display: block;
      color: $white-color;
      font-size: 55px;
      @include margin(0, 0, 50px, 0);

      &:hover {
        color: $brand-color;
      }

      @include breakpoint(lp) {
        font-size: 35px;
      }
      @include breakpoint(sm) {
        font-size: 24px;
      }
    }
    &__social-media {
      display: flex;
      align-items: flex-start;
    }

    &__social-media-item {
      position: relative;
      @include padding(0, 25px, 0, 25px);

      @include breakpoint(sm) {
        @include padding(0, 10px, 0, 10px);
      }
      &:before {
        position: absolute;
        background: $brand-color;
        content: "";
        height: 3px;
        width: 3px;
        top: 11px;
        right: 0;

        @include breakpoint(sm) {
          top: 10px;
        }
      }
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        &:before {
          background: none;
        }
      }
      a {
        color: $brand-color;
        font-size: 15px;
        font-weight: 700;
        overflow: hidden;
        display: block;

        span {
          position: relative;
          display: inline-block;
          @include transition(0.3s);
          &::before {
            color: $white-color;
            position: absolute;
            top: 100%;
            content: attr(data-hover);
            @include transform(translate3d(0, 0, 0));
          }
        }

        &:hover {
          span {
            @include transform(translateY(-100%));
          }
        }
      }
    }
  }
}

.location-pin {
  position: absolute;
  left: 40%;
  top: 48%;

  @include breakpoint(sm) {
    left: 64%;
  }
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: $brand-color;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  z-index: 9999;
  margin: -20px 0 0 -20px;
  -webkit-animation: arrowMove 0.8s linear infinite;

  &:after {
    content: "";
    width: 14px;
    height: 14px;
    top: 9px;
    left: 8px;
    background: #2f2f2f;
    position: absolute;
    border-radius: 50%;
  }
}
.pulse {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;

  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: 2;

  &:after {
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -16px 0 0 -14px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px $brand-color;
    animation-delay: 1.1s;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}

.address-tab {
  position: relative;
  @include margin(0, 0, 100px, 0);
  .nav-tabs {
    border: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-right: -2px;
    position: absolute;
    right: 0;
    width: 25%;

    @include breakpoint(sm) {
      width: 100%;
      position: inherit;
      justify-content: center;
      flex-direction: row;
      @include margin(0, 0, 30px, 0);
    }

    .nav-item {
      border-right: 2px solid #ddd;

      @include breakpoint(sm) {
        border-top: 2px solid #ddd;
        border-right: 0;
        width: 50%;
      }
    }

    .nav-link {
      border: 0;
      background: none;
      color: #ddd;
      position: relative;
      display: block;
      text-align: right;
      border-radius: 0;
      text-transform: uppercase;

      @include breakpoint(sm) {
        font-size: 22px;
        text-align: center;
      }

      &:after {
        position: absolute;
        content: "";
        height: 0;
        width: 2px;
        background: $brand-color;
        top: 0;
        right: -2px;
        @include transition(all 0.5s ease);

        @include breakpoint(sm) {
          right: 50%;
          top: 45px;
        }
      }
      &:before {
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background: $brand-color;
        top: 30px;
        left: -63px;
        @include transition(all 0.5s ease);

        @include breakpoint(sm) {
          top: -2px;
          left: 0;
        }
      }
      &:hover {
        color: $brand-color;
        &:before {
          width: 50px;
          @include breakpoint(sm) {
            width: 100%;
          }
        }
        &:after {
          height: 50px;
        }
      }
      &.active {
        color: $brand-color;
        &:before {
          @include breakpoint(sm) {
            width: 100%;
          }
        }
        &:after {
          height: 50px;
          @include breakpoint(sm) {
            height: 0;
          }
        }
      }
    }
  }
}

.tab-pane.show .contact-wrap__address {
  animation: 1s 0.2s fadeInUp both;
}
.tab-pane.show .contact-info__title {
  animation: 1s 0.4s fadeInUp both;
}
.tab-pane.show .contact-info__link {
  animation: 1s 0.6s fadeInUp both;
}
.tab-pane.show .contact-info__number {
  animation: 1s 0.6s fadeInUp both;
}
.tab-pane.show .contact-info__social-media {
  animation: 1s 0.6s fadeInUp both;
}
