@import "../../../assets/scss/variables", "../../../assets/scss/mixins", "../../../assets/scss/layout",
  "../../../assets/scss/ui-elements";

.highlight-package {
  .package-content {
    background: $brand-second-color;
    @include padding(60px, 60px, 60px, 60px);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  }
  .price {
    .sm-text {
      color: $white-color;
      display: block;
      font-size: 20px;
      text-align: center;
    }
    h3 {
      color: $white-color;
      font-size: 150px;
      text-align: center;
      font-weight: 700;
    }
  }
}

.services {
  &__content {
    font-size: 45px;
    text-align: center;
    color: $brand-second-color;
    @include breakpoint(sm) {
      font-size: 22px;
    }
  }
}

.expert-skills {
  &__list-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    
  }
  &__list-item {
    height: 100px;
    width: 33.33333%;
    @include margin(0, 0, 30px, 0);

    @include breakpoint(sm) {
      width: 50%;
      text-align: center;
    }
  }
}

.peckage-wrap {
  h2 {
    color: $brand-color;
    text-align: center;
    @include margin(0, 0, 60px, 0);
    font-size: 60px;
    font-weight: 700;

    @include breakpoint(sm) {
      font-size: 40px;
    }
  }
  .package-content {
    background: $white-color;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  }
  .peckage-item {
    @include padding(30px, 30px, 30px, 30px);
    &__title-wrap {
      text-align: center;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
      border-bottom: 1px solid $light-grey-color;
      @include padding(0, 0, 30px, 0);
      @include margin(0, 0, 20px, 0);

      @include breakpoint(sm) {
        height: auto;
      }
    }
    &__title {
      font-weight: 700;
      font-size: 40px;
      text-transform: uppercase;
      color: $brand-second-color;
      @include margin(0, 0, 20px, 0);
      @include breakpoint(lp) {
        font-size: 30px;
      }
      @include breakpoint(sm) {
        font-size: 30px;
      }
    }
    &__sm-title {
      font-size: 15px;
      display: block;
      line-height: 1.5;
    }
    &__price-wrap {
      text-align: center;
      border-bottom: 1px solid $light-grey-color;
      @include padding(0, 0, 25px, 0);
      @include margin(0, 0, 30px, 0);
    }
    &__price-sm-txt {
      font-size: 15px;
    }
    &__price-title {
      font-weight: 700;
      font-size: 85px;
      color: $brand-color;

      @include breakpoint(lp) {
        font-size: 65px;
      }
      @include breakpoint(sm) {
        font-size: 65px;
      }
    }
    &__list {
      @include margin(0, 0, 50px, 0);
    }
    &__list-item {
      position: relative;
      @include margin(0, 0, 20px, 40px);
      font-size: 20px;
      color: $brand-second-color;
      span {
        display: block;
        font-size: 16px;
      }
      &:before {
        position: absolute;
        content: url(../../../assets/images/verified.svg);
        width: 26px;
        height: 26px;
        left: -40px;
        top: 2px;
      }
    }
    .outline-btn-red {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .outline-btn-white {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  .peckage-premium {
    @include padding(50px, 30px, 50px, 30px);
    background: $brand-second-color;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    /*     transform: scale(1.1); */

    @include breakpoint(sm) {
      transform: scale(1);
    }

    .peckage-item__title {
      color: $white-color;
      i {
        color: $white-color;
      }
    }
    .peckage-item__list-item {
      color: $white-color;
      &:before {
        content: url(../../../assets/images/verified-white.svg);
      }
    }
    .peckage-item__price-wrap {
      color: $white-color;
    }
    .peckage-item__price-title {
      color: $white-color;
    }
    .peckage-item__sm-title {
      color: $white-color;
    }
  }
}

.psd-html-features {
  @include margin(0, 0, 50px, 0);
  &__item {
    @include margin(0, 0, 90px, 0);
    position: relative;
    @include padding(0, 40px, 0, 0);
  }
  &__title {
    font-size: 22px;
    font-weight: 700;
    color: $brand-second-color;
    @include margin(0, 0, 20px, 0);
  }
  &__number {
    color: #f8f8f8;
    font-size: 120px;
    font-weight: 700;
    position: absolute;
    top: -85px;
    z-index: -1;
    left: 0;
  }
  &__content {
    font-size: 18px;
    color: $black-color;
    @include padding(0, 0, 0, 0);
  }
}

.back-to-services-holder {
  .back {
    position: fixed;
    z-index: 99;
    top: 100px;
    left: 20px;
    /* display: none; */
    text-align: center;
    line-height: 45px;
    opacity: 0;
    animation: fadeInLeft 0.8s ease forwards;
    animation-delay: 0.8s;
    @include transition(all 0.5s ease);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }

    @include breakpoint(sm) {
      right: 20px;
    }
  }

  span {
    font-size: 14px;
    opacity: 0;
    letter-spacing: 3px;
    position: absolute;
    width: 250px;
    top: 120px;
    left: -105px;
    @include transform(rotate(90deg));
    @include transition(all 0.5s ease);
  }

  .circle {
    border-radius: 100%;
    box-shadow: none;

    &::before,
    &::after {
      border-radius: 100%;
    }
  }

  .spin {
    width: 45px;
    height: 45px;
    padding: 0;
    color: $brand-color;
    &::before {
      border: 3px solid $brand-color;
      top: 0;
      left: 0;
    }

    &::after {
      border: 0 solid transparent;
      top: 0;
      left: 0;
      transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
    }

    &:hover {
      color: $brand-second-color;
      &:before {
        border-top-color: $brand-second-color;
        border-right-color: $brand-second-color;
        border-bottom-color: $brand-second-color;
        transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s,
          border-bottom-color 0.15s linear 0.2s;
      }

      &:after {
        border-top: 3px solid $brand-second-color;
        border-left-width: 3px;
        border-right-width: 3px;
        transform: rotate(270deg);
        transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
      }
      span {
        opacity: 1;
      }
    }
  }
}
