

<div class="modal fade" id="get-started">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Drop Us Line</h5>
        <button type="button" class="close cursor-link" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="service-error" *ngIf="error">
          <h1>{{error.errorTitle}}</h1>
          <h3>{{error.errorDesc}}</h3>
        </div>
        <div [hidden]="!submitted" class="contact-message">
          <div *ngIf="model.id" class="contact-success">
            <h2 class="success">Success!</h2>
            <h4>Contact information has been successfully submitted.</h4>
          </div>
        </div>


        <div class="form-content-modal" [hidden]="submitted">
          <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <div class="form-group">
              <input type="text" name="name" id="name" [(ngModel)]="model.name" class="form-control cursor-link"
                placeholder="" required #name="ngModel">

              <label for="name">Full Name*</label>

              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
                <div *ngIf="name.errors.required">
                  Name is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" name="email" id="email" [(ngModel)]="model.email" class="form-control cursor-link"
                placeholder="" required email #email="ngModel">
              <label for="email">Email Address*</label>

              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                <div *ngIf="email.errors.required">Email is required.</div>
                <div *ngIf="email.errors.email">Email must be a valid email address.</div>
              </div>
            </div>
            <div class="form-group">
              <input type="number" name="phone" id="phone" [(ngModel)]="model.phone" class="form-control cursor-link"
                placeholder="" required #phone="ngModel">
              <label for="phone">Phone Number*</label>

              <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error">
                <div *ngIf="phone.errors.required">
                  Phone is required.
                </div>
              </div>

            </div>
            <div class="form-group">
              <textarea name="message" id="message" [(ngModel)]="model.message" rows="5"
                class="form-control cursor-link" placeholder="" required #message="ngModel">
                              </textarea>
              <label for="message">Message*</label>

              <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error">
                <div *ngIf="message.errors.required">Message is required.</div>
              </div>
            </div>

            <div class="checkbox-holder">
              <div class="checkboxes">
                <input class="form-check-input" [(ngModel)]="model.terms" type="checkbox" id="agree"
                  name="agree-01" #terms="ngModel" required>
                <label for="agree" class="form-check-label">
                  I have read and agree with WeAreCreative Terms and conditions.*
                </label>
                <div *ngIf="terms.invalid && (terms.dirty || terms.touched)" class="error">
                  <div *ngIf="terms.errors.required">
                    You must confirm to continue.
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <button class="sweep-btn--right w-100 cursor-link" [disabled]="!contactForm.form.valid">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>