@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

/* .modal {
  z-index: 99999;
} */
.modal-content {
  background: $brand-second-color;
  @include border-radius(0);
  border: 0;
  box-shadow: none;
}

.modal-header {
  border: 0;
  justify-content: center;
  @include padding(30px, 0, 0, 0);

  h5 {
    color: $white-color;
    text-align: center;
    font-weight: 700;
    font-size: 33px;
  }

  .close {
    position: absolute;
    top: 30px;
    animation: fadeInDown 0.9s ease forwards;
    animation-delay: 0.5s;
    right: 28px;
    color: $white-color;
    font-size: 22px;
    border: 2px solid $white-color;
    @include transition(all 0.5s ease-in-out);
    @include border-radius(50px);
    width: 45px;
    height: 45px;
    text-align: center;
    opacity: 0;
    line-height: 10px;

    &:hover {
      background: $white-color;
      color: $brand-color;
    }
  }
}
.modal-body {
  .ng-valid[required],
  .ng-valid.required {
    border-bottom: 1px solid #42a948 !important;
  }
  .error {
    color: $brand-color;
    font-size: 12px;
    position: absolute;
    right: 0;
  }
  .success {
    color: green;
    color: $white-color;
  }
  .contact-message {
    text-align: center;
    @include margin(0, 0, 30px, 0);
    color: $white-color;
    h2 {
      @include margin(0, 0, 10px, 0);
    }
    h4 {
      font-size: 20px;
    }
  }

  .form-content-modal {
    @include padding(30px, 30px, 30px, 30px);

    @include breakpoint(sm) {
      @include padding(10px, 10px, 10px, 10px);
    }

    .form-group {
      position: relative;
      @include margin(0, 0, 30px, 0);
      color: $white-color;

      .form-control {
        position: relative;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 2px solid $white-color;
        background-color: transparent;
        @include padding(0, 0, 0, 0);
        @include margin(0, 0, 5px, 0);
        height: 55px;
        outline: none !important;
        font-size: 18px;
        color: $white-color !important;
        background: -webkit-linear-gradient(bottom, $brand-second-color 50%, $brand-second-color 50%);
        background: linear-gradient(to top, $brand-second-color 50%, $brand-second-color 50%);
        background-position: left bottom;
        background-size: 0 1px;
        background-repeat: no-repeat;
        @include transition(all 0.5s ease);
        @include border-radius(0);

        @include breakpoint(sm) {
          font-size: 15px;
        }
      }
      label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 52px;
        line-height: 72px;
        text-transform: capitalize;
        font-size: 18px;
        background: transparent;
        color: $white-color;
        @include transition(all 0.5s ease);
      }

      textarea {
        height: 150px !important;
        resize: none;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
      input {
        &:hover,
        &:focus {
          border-color: $white-color;
        }
      }
      textarea {
        &:hover,
        &:focus {
          border-color: $white-color;
        }
      }
      input {
        &:focus {
          background-position: left bottom;
          background-size: 100% 1px;
          box-shadow: none;
        }
      }
      textarea {
        &:focus {
          background-position: left bottom;
          background-size: 100% 1px;
          box-shadow: none;
        }
      }

      input:valid + label,
      input:focus + label {
        height: 12px;
        line-height: 1px;
        font-size: 12px;
        color: $white-color;
      }
      textarea:valid + label,
      textarea:focus + label {
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        color: $white-color;
      }
    }
    .sweep-btn--right.disabled,
    .sweep-btn--right:disabled {
      border: 2px solid $white-color;
      background: none;
      color: $white-color;
    }

    .checkbox-holder{
      position: relative;
      @include margin(0, 0, 60px, 0);
      label{
        color: $white-color
      }
      .error{
        left:0;
        top: 40px;
      }
    }

  }
}
