<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1 nopadding">


        <div class="main-title-wrap">
          <div class="row">
            <div class="col-md-4">
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">What</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">We</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Offer<b
                    class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
              </div>
            </div>
            <div class="col-md-8">
              <div class="heading-content-wrap">
                <div class="heading-content">
                  <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                    We are specialize in front end development, we convert your PSD's into HTML5 using latest
                    technologies like
                    CSS3, SASS with fully responsive and compatible on all latest devices.
                    <!--  We have keen eye on detail oriented work that's why we add
                    CSS3 animation and transition and make full interactive which overall enhance your project look and
                    feel. -->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <section class="highlight-package">
          <div class="package-content">
            <div class="row">
              <div class="col-lg-7">
                <p>Get your webiste live within a weak with unique and creative idea</p>
              </div>
              <div class="col-lg-5">
                <div class="price">
                  <span class="sm-text">Price Start From</span>
                  <h3>
                    $199
                  </h3>
                  <span class="sm-text">Only</span>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section class="peckage-wrap">
          <h2>PSD to HTML Packages</h2>
          <div class="package-content">
            <div class="row no-gutters">
              <div class="col-lg-4 col-md-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="peckage-item peckage-html">
                  <div class="peckage-item__title-wrap">
                    <h2 class="peckage-item__title">
                      Basic
                    </h2>

                    <span class="peckage-item__sm-title">
                      HTML5/CSS3/SCSS + Responsive
                      with Latest Bootstrap Version
                    </span>

                  </div>
                  <div class="peckage-item__price-wrap">
                    <span class="peckage-item__price-sm-txt">Only One Page</span>
                    <h3 class="peckage-item__price-title">
                      $80
                    </h3>
                  </div>
                  <ul class="peckage-item__list">
                    <li class="peckage-item__list-item">100% hand written code</li>
                    <li class="peckage-item__list-item">Pixel perfect HTML / CSS</li>
                    <li class="peckage-item__list-item">SASS file included</li>
                    <li class="peckage-item__list-item">Commented HTML / CSS</li>
                    <li class="peckage-item__list-item">Responsive layout
                      <span>(All latest mobile devices )</span></li>
                    <li class="peckage-item__list-item">Browser compatibility
                      <span>(Firefox, Opera, Chrome, Safari, E11 )</span></li>
                    <li class="peckage-item__list-item">W3C valid HTML5</li>
                    <li class="peckage-item__list-item">W3C CSS 3.0</li>
                    <li class="peckage-item__list-item">SEO semantic coding</li>
                    <li class="peckage-item__list-item">Load speed optimization</li>
                  </ul>


                </div>
              </div>

              <div class="col-lg-4 col-md-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="peckage-item peckage-angular">
                  <div class="peckage-item__title-wrap">
                    <h2 class="peckage-item__title">
                      Premium

                      <button type="button"
                        ngbPopover="Choosing this package we will give you the production build and upload on your server or wherever you want."
                        triggers="mouseenter:mouseleave">
                        <i class="fa fa-info-circle"></i>
                      </button>

                    </h2>

                    <span class="peckage-item__sm-title">
                      Angular Web App + <br>

                      HTML5/CSS3/SCSS + Responsive
                      with Latest Bootstrap Version
                    </span>
                  </div>
                  <div class="peckage-item__price-wrap">
                    <span class="peckage-item__price-sm-txt">First Page</span>
                    <h3 class="peckage-item__price-title">
                      $215
                    </h3>
                    <span class="peckage-item__price-sm-txt">
                      & 50% Discount for each inner page
                    </span>
                  </div>
                  <ul class="peckage-item__list">
                    <li class="peckage-item__list-item">100% hand written code</li>
                    <li class="peckage-item__list-item">Pixel perfect HTML / CSS</li>
                    <li class="peckage-item__list-item">SASS file included</li>
                    <li class="peckage-item__list-item">Commented HTML / CSS</li>
                    <li class="peckage-item__list-item">Responsive layout
                      <span>(All latest mobile devices )</span></li>
                    <li class="peckage-item__list-item">Browser compatibility
                      <span>(Firefox, Opera, Chrome, Safari, E11 )</span></li>
                    <li class="peckage-item__list-item">W3C valid HTML5</li>
                    <li class="peckage-item__list-item">W3C CSS 3.0</li>
                    <li class="peckage-item__list-item">SEO semantic coding</li>
                    <li class="peckage-item__list-item">Load speed optimization</li>
                  </ul>

                </div>
              </div>

              <div class="col-lg-4 col-md-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="peckage-item peckage-responsive">
                  <div class="peckage-item__title-wrap">
                    <h2 class="peckage-item__title">
                      Standard
                    </h2>
                    <span class="peckage-item__sm-title">
                      HTML5/CSS3/SCSS + Responsive
                      with Latest Bootstrap Version
                    </span>
                  </div>
                  <div class="peckage-item__price-wrap">
                    <span class="peckage-item__price-sm-txt">Three Pages</span>
                    <h3 class="peckage-item__price-title">
                      $130
                    </h3>
                    <span class="peckage-item__price-sm-txt">
                      & 50% Discount for each inner page
                    </span>
                  </div>
                  <ul class="peckage-item__list">
                    <li class="peckage-item__list-item">100% hand written code</li>
                    <li class="peckage-item__list-item">Pixel perfect HTML / CSS</li>
                    <li class="peckage-item__list-item">SASS file included</li>
                    <li class="peckage-item__list-item">Commented HTML / CSS</li>
                    <li class="peckage-item__list-item">Responsive layout
                      <span>(All latest mobile devices )</span></li>
                    <li class="peckage-item__list-item">Browser compatibility
                      <span>(Firefox, Opera, Chrome, Safari, E11 )</span></li>
                    <li class="peckage-item__list-item">W3C valid HTML5</li>
                    <li class="peckage-item__list-item">W3C CSS 3.0</li>
                    <li class="peckage-item__list-item">SEO semantic coding</li>
                    <li class="peckage-item__list-item">Load speed optimization</li>

                  </ul>
                </div>
              </div>



            </div>
          </div>
        </section>


        <section class="psd-html-features">
          <div class="row">
            <div class="col-md-4">
              <div class="sub-heading">
                <span class="sub-heading__line wow slideInLeft" data-wow-duration="1s" data-wow-delay="0.4s"></span>
                <div class="sub-heading__wrap">
                  <h2 class="sub-heading__title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                    PSD to HTML Features
                  </h2>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="1s">
                  <div class="psd-html-features__item">
                    <span class="psd-html-features__number wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay="1s">01</span>
                    <h3 class="psd-html-features__title">100% Manual coding
                    </h3>
                    <p class="psd-html-features__content">For every project we make use of CSS preprocessors and deliver
                      best results. Let us know your expectations and we will handle the rest.
                    </p>
                  </div>
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
                  <div class="psd-html-features__item">
                    <span class="psd-html-features__number wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay="2s">02</span>
                    <h3 class="psd-html-features__title">SASS Coding</h3>
                    <p class="psd-html-features__content">We use CSS Preprocessors for all our projects to meet the
                      coding standards. Let us know your favorite and we use the same for your project.
                    </p>
                  </div>
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.4s">
                  <div class="psd-html-features__item">
                    <span class="psd-html-features__number wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay="3s">03</span>
                    <h3 class="psd-html-features__title">SEO-Friendly Markup
                    </h3>
                    <p class="psd-html-features__content">It is the most important aspect to get on to the top 10
                      results of Google. Using SEO friendly markup we ensure that your website is
                      free of glitches while doing so.</p>
                  </div>

                </div>
                <div class="col-md-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.6s">
                  <div class="psd-html-features__item">
                    <span class="psd-html-features__number wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay="4s">04</span>
                    <h3 class="psd-html-features__title">User Optimized Images</h3>
                    <p class="psd-html-features__content">Image loading time is one of the important factor. In this
                      fast-paced world no individual wait long for image to load.
                      We optimize images in order to load faster & give best user experience for your website.</p>
                  </div>
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="1.8s">
                  <div class="psd-html-features__item">
                    <span class="psd-html-features__number wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay="5s">05</span>
                    <h3 class="psd-html-features__title">Semantic/Commented Markup</h3>
                    <p class="psd-html-features__content">Our Semantic/Commented Markup is the benefit for future
                      project customization purposes.
                    </p>
                  </div>
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-duration="1s" data-wow-delay="2s">
                  <div class="psd-html-features__item">
                    <span class="psd-html-features__number wow fadeInLeft" data-wow-duration="1s"
                      data-wow-delay="6s">06</span>
                    <h3 class="psd-html-features__title">Cross Device Compatibility</h3>
                    <p class="psd-html-features__content">We ensure HTML markup that is cross-browser & cross-device
                      compatible that includes organized and best coding for multiple platforms.
                    </p>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>