@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/animate.css/animate.css";

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "assets/scss/reset", "assets/scss/typography", "assets/scss/variables", "assets/scss/mixins",
  "assets/scss/layout", "assets/scss/ui-elements";

body {
  font-family: $font-primary-en;
  overflow-x: hidden;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
section {
  @include margin(0, 0, 200px, 0);

  @include breakpoint(sm) {
    @include margin(0, 0, 50px, 0);
  }
}
figure {
  @include margin(0, 0, 0, 0);
}
.nomargin {
  @include margin(0, 0, 0, 0);
}
main {
  @include margin(0, 0, 300px, 0);
}
.wrapper {
  @include margin(200px, 0, 0, 0);

  @include breakpoint(sm) {
    @include margin(150px, 0, 0, 0);
  }
}
.wow {
  visibility: hidden;
}
.owl-dots {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
  animation-delay: 0.5s;
  .owl-dot {
    span {
      background: $light-grey-color !important;
      width: 22px !important;
      height: 3px !important;
      border: none !important;
    }
  }
  .owl-dot.active {
    span {
      background: $brand-color !important;
      border: none !important;
      width: 22px !important;
      height: 3px !important;
      position: relative;
      top: 0;
    }
  }
}
.nopadding {
  padding-right: 0;
  padding-left: 0;
}
.popover {
  font-size: 20px;
  font-family: $font-primary-en;
  text-align: center;
  border: 1px solid #ccc;
  border: 1px solid rgba($black-color, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba($black-color, 0.2);
}

.typing-carousel {
  height: 100vh;
  position: relative;
  background: $brand-color;

  @include padding(250px, 200px, 200px, 200px);

  @include breakpoint(lp) {
    @include padding(150px, 100px, 100px, 100px);
  }
  @include breakpoint(sm) {
    @include padding(150px, 30px, 30px, 40px);
    height: auto;
  }

  &__wrap {
    position: relative;
    @include margin(0, 0, 350px, 0);

    @include breakpoint(lp) {
      @include margin(0, 0, 150px, 0);
    }
    @include breakpoint(sm) {
      @include margin(0, 0, 60px, 0);
    }

    &:before {
      position: absolute;
      height: 10px;
      background: $white-color;
      content: "";
      bottom: 85px;
      left: -220px;
      animation: typing-carousel-line 0.9s ease forwards;

      @include breakpoint(lp) {
        bottom: 70px;
        left: -180px;
      }
      @include breakpoint(sm) {
        bottom: 93px;
        left: -170px;
        height: 5px;
      }
    }
    .txt-static {
      display: block;
      font-size: calc(90px + 3vw);
      color: $white-color;
      font-weight: 700;
      line-height: 90px;

      @include breakpoint(lp) {
        font-size: calc(70px + 3vw);
      }
      @include breakpoint(sm) {
        font-size: calc(30px + 3vw);
        line-height: 55px;
      }
    }
  }

  &__title {
    height: 200px;
    overflow: hidden;
    color: $white-color;
    text-transform: capitalize;
    font-size: calc(90px + 3vw);
    font-weight: 700;

    @include breakpoint(lp) {
      font-size: calc(70px + 3vw);
      height: 160px;
    }
    @include breakpoint(sm) {
      font-size: calc(30px + 3vw);
      height: 120px;
      line-height: 50px;
    }

    .txt-rotate {
      display: inline;
    }
  }

  .typing-sub-header {
    position: absolute;
    width: 350px;
    height: 250px;
    z-index: 99;
    right: 0;
    bottom: -50px;
    overflow: hidden;

    @include breakpoint(lp) {
      bottom: -70px;
      width: 450px;
    }

    @include breakpoint(sm) {
      display: none;
    }

    &__line {
      background: $white-color;
      width: 2px;
      display: block;
      height: 200px;
      position: absolute;
      top: 0;
    }

    &__content {
      color: $white-color;
      font-size: 16px;
      padding: 30px;
    }
  }
}

@keyframes typing-carousel-line {
  from {
    width: 0;
  }
  to {
    width: 150px;
  }
}

.cursor {
  --size: 8px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  position: absolute;
  z-index: 10000;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.cursor.cursor-shadow {
  background-color: transparent;
  border: 2px solid $brand-color;
  --size: 40px;
  transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s, background-color 0.2s, border-color 0.2s;
  transition-timing-function: ease-out;
  @include breakpoint(sm) {
    --size: 0;
    border: 0;
  }
}
.cursor.cursor-dot {
  background: $brand-second-color;
  transition: width 0.2s, height 0.2s;
  @include breakpoint(sm) {
    background: none;
  }
}
.cursor-shadow.active {
  --size: 80px;
  background-color: rgba($white-color, 0.2);

  @include breakpoint(sm) {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba($brand-color, 0.1);
    --size: 0;
  }
}
.cursor-dot.active {
  --size: 0;
}

.stripes {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
.stripes .stripe {
  height: 100vh;
  border-left: 1px solid #f2f2f2;
  float: left;
  position: relative;
}
.stripes .stripe:last-child {
  border-right: 1px solid #f2f2f2;
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

/*scroller*/
.scroll-container {
  margin: 0 auto;

  width: 30px;
  height: 60px;
  border: 2px solid $white-color;
  border-radius: 15px;
  position: relative;
  .scroller {
    width: 16px;
    border-radius: 8px;
    background-color: $white-color;
    position: absolute;
    top: 4px;
    left: 5px;
    bottom: 34px;
    animation: scroller 1500ms ease-out infinite;
  }
}

@keyframes scroller {
  0% {
    bottom: 34px;
  }
  5% {
    top: 4px;
  }
  32% {
    bottom: 4px;
  }
  66% {
    top: 34px;
    bottom: 4px;
  }
  100% {
    top: 4px;
    bottom: 34px;
  }
}

.main-title-wrap {
  @include margin(0, 0, 100px, 0);

  @include breakpoint(sm) {
    @include margin(0, 0, 50px, 0);
  }
  .heading-wrap {
    text-transform: capitalize;
    color: $brand-color;
    font-size: 150px;
    font-weight: 700;
    height: 160px;
    overflow: hidden;

    @include breakpoint(sm) {
      font-size: 80px;
      height: 90px;
      letter-spacing: -2px;
    }

    @include breakpoint(lp) {
      font-size: 95px;
      height: 105px;
    }

    &__item {
      display: block;
      line-height: 1;

      b {
        position: relative;
        &:before {
          background: $brand-second-color;
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 50%;
          left: 10px;
          bottom: 35px;
          position: absolute;

          @include breakpoint(lp) {
            bottom: 25px;
          }

          @include breakpoint(sm) {
            height: 15px;
            width: 15px;
            bottom: 25px;
          }
        }
      }
    }
  }
  .heading-content-wrap {
    .heading-content {
      color: $brand-second-color;
      font-size: 40px;
      display: flex;
      @include padding(0, 0, 0, 0);
      align-items: flex-end;
      overflow: hidden;
      height: 450px;

      @include breakpoint(sm) {
        align-items: flex-start;
        height: auto;
        font-size: 22px;
        @include margin(10px, 0, 0, 0);
      }
      @include breakpoint(lp) {
        font-size: 30px;
        height: 310px;
      }

      .sm-text {
        color: $brand-color;
        display: block;
        @include margin(0, 0, 10px, 0);
        font-size: 30px;
      }
    }
  }
}

.sub-heading {
  position: relative;
  overflow: hidden;
  @include breakpoint(sm) {
    @include margin(0, 0, 40px, 0);
  }

  &__line {
    background: $brand-color;
    width: 55px;
    display: block;
    height: 2px;
    position: absolute;
    top: 16px;

    &:before {
      border: 1px solid $brand-color;
      width: 10px;
      height: 10px;
      position: absolute;
      content: "";
      top: -4px;
      background: $white-color;
      right: -3px;
      border-radius: 50%;
    }
  }

  &__wrap {
    overflow: hidden;
    /*  height: 35px; */
    @include margin(0, 0, 0, 75px);
  }
  &__title {
    font-size: 30px;
    color: $brand-color;

    @include breakpoint(sm) {
      font-size: 25px;
    }
  }
}

.our-process {
  @include margin(0, 0, 0, 0);
  .item {
    height: 400px;
    position: relative;
    overflow: hidden;
    text-align: center;
    @include transition(all 0.5s ease);

    @include breakpoint(sm) {
      height: auto;
      @include margin(0, 0, 70px, 0);
    }

    &__number {
      font-size: 85px;
      top: 85px;
      z-index: -1;
      font-weight: 700;
      position: absolute;
      color: #f8f8f8;
      @include transition(all 0.5s ease);
    }

    &__icon {
      display: block;
      width: 100px;
      height: 100px;
      @include margin(0, auto, 30px, auto);

      @include transition(all 0.5s ease);
      img {
        width: 100%;
      }
    }
    &__title {
      text-align: center;
      display: block;
      font-size: 30px;
      font-weight: 700;
      color: $brand-second-color;
      @include margin(0, 0, 30px, 0);
      @include breakpoint(sm) {
        @include margin(0, 0, 15px, 0);
      }
    }
    &__content {
      opacity: 0;
      font-size: 16px;
      margin-top: 0;
      color: $brand-second-color;
      @include transition(all 0.5s ease);
      @include breakpoint(sm) {
        opacity: 1;
      }
    }

    &:hover {
      .item__icon {
        width: 80px;
        height: 80px;
      }
      .item__title {
        color: $brand-color;
      }
      .item__content {
        opacity: 1;
        animation: fadeInUp 0.8s ease forwards;
      }
    }
  }
}

.owl-item.active .testimonial-item__name {
  animation: 1s 0.2s fadeInUp both;
}
.owl-item.active .testimonial-item__designation {
  animation: 1s 0.6s fadeInUp both;
}

.image-reveal {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;

  img {
    animation: fadeIn 0s 0.6s;
    width: 100%;
    animation-fill-mode: backwards;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background: $brand-color;
    transform: translateX(-100%);
    animation: secondaryImageOverlayIn 0.6s 0s, secondaryImageOverlayOut 0.6s 0.6s;
    animation-fill-mode: both;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes secondaryImageOverlayIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes secondaryImageOverlayOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animated-line {
  position: relative;
  height: 120px;
  @include margin(0, 0, 50px, 0);

  .bar-wrapper {
    width: 2px;
    height: 120px;
    position: absolute;
    @include margin(0, 0, 0, 0);
  }
  .bar-line,
  .bar-whitespace {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .bar-whitespace {
    @include margin(0, auto, 0, auto);
    overflow: hidden;
    z-index: 1;
  }
  .bar-line--up {
    animation: slide-down 2s steps(100) infinite;
  }
  .bar-line {
    background-color: $brand-color;
    left: 0;
    top: 0;
  }
  .bar-wrapper--up {
    top: 0;
    left: 50%;
  }
}
@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/* .fb-customerchat {
  position: fixed;
  z-index: 999;
  bottom: 157px;
  right: 119px;
  background-color: #000;
  width: 25px;
  height: 25px;
}  */

agm-map {
  height: 500px;
}

.get-started-btn {
  display: block;
  position: fixed;
  right: -20px;
  color: $brand-second-color;
  font-size: 16px;
  top: 180px;
  z-index: 99;
  text-transform: uppercase;
  letter-spacing: 5px;
  @include transform(rotate(90deg));

  @include breakpoint(sm) {
    top: 140px;
    right: -42px;
  }

}
