<!-- Button trigger modal -->
<button  type="button" class="get-started-btn sliding-underline-link cursor-link" data-toggle="modal" data-target="#get-started">
  Get Started</button>
<!-- Modal -->
<app-get-started></app-get-started>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1 nopadding">
        <div class="main-title-wrap">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Work</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Show</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Case<b
                    class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="heading-content-wrap">
                <div class="heading-content">
                  <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                    A showcase of our most recent projects.
                    Rather than telling you all about our process and talent, we invite you to take a look at our
                    projects.You have some evidence of this below. Otherwise, take a look at our Services page to
                    better understand how our team can make your day a much better one.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <section class="projects">
          <div class="project-item">
            <span class="project-item__circle wow fadeInLeft" data-wow-duration="4s" data-wow-delay="0.2s"></span>
            <div class="project-item__figure-wrap">
              <span class="project-item__circle-sm wow fadeInLeft" data-wow-duration="4s" data-wow-delay="0.2s"></span>
              <figure class="project-item__figure">
                <img src="assets/images/a1estimation.jpg" alt="">
              </figure>
            </div>
            <figcaption class="project-item__caption">
              <div class="project-item__title-wrap">
                <h2 class="project-item__title wow fadeInUp">A1 Estimation LLC</h2>
              </div>
              <h3 class="project-item__sm-title wow fadeIn">Technologies we used:</h3>
              <p class="project-item__technologies wow fadeIn">
                Angular 6, HTML5, CSS3, SCSS, Bootstrap 4, BEM, Mobile Responsive
              </p>


              <a href="http://www.a1est.com" class="action-button cursor-link wow fadeIn" target="_blank">
                <span class="action-button__text">Live Preview</span>
                <div class="action-button__shapes">
                  <div class="action-button__rectangle"></div>
                  <div class="action-button__arrow">
                    <svg height="16" width="16">
                      <polygon points="2,2 8,5.5 2,10"></polygon>
                    </svg>
                  </div>
                  <div class="action-button__circles">
                    <svg height="64" width="64" class="action-button__circle action-button__circle--base">
                      <circle cx="32" cy="32" r="28">
                      </circle>
                    </svg>
                    <svg height="64" width="64" class="action-button__circle action-button__circle--fill">
                      <circle cx="32" cy="32" r="28"></circle>
                    </svg>
                  </div>
                </div>
              </a>
            </figcaption>
          </div>

          <!-- <div class="project-item  d-flex flex-row-reverse">
              <span class="project-item--reverse-circle  wow fadeInRight" data-wow-duration="4s"
                data-wow-delay="0.2s"></span>
              <div class="project-item__figure-wrap">
                <span class="project-item--circle-sm-reverse wow fadeInRight" data-wow-duration="4s"
                  data-wow-delay="0.2s"></span>
                <figure class="project-item__figure project-item--figure-reverse">
                  <img src="assets/images/creativeanimo.jpg" alt="">
                </figure>
              </div>

              <figcaption class="project-item__caption project-item--caption-reverse">
                <div class="project-item__title-wrap">
                  <h2 class="project-item__title wow fadeInUp">Creative Animo</h2>
                </div>

                <h3 class="project-item__sm-title wow fadeIn">Technologies:</h3>

                <p class="project-item__technologies wow fadeIn">
                  Angular 6, HTML5, CSS3, SCSS, Bootstrap 4, BEM, Mobile Responsive
                </p>
                <span>Coming Soon...</span>
              </figcaption>
            </div> -->
        </section>




        <section class="upcoming-projects">
          <h4>Upcoming Projects </h4>
          <div class="row">
            <div class="col-lg-5">
              <div class="project-item">
                <!-- <figure class="project-item__figure">
                    <img src="assets/images/creativeanimo.jpg" alt="">
                  </figure> -->
                <figcaption class="project-item__caption">
                  <div class="project-item__title-wrap">
                    <h2 class="project-item__title wow fadeInUp">Creative Animo</h2>
                  </div>
                  <h3 class="project-item__sm-title">Technologies we used:</h3>
                  <p class="project-item__technologies">
                    Angular 6, HTML5, CSS3, SCSS, Bootstrap 4, BEM, Mobile Responsive
                  </p>
                </figcaption>
              </div>
            </div>

            <div class="col-lg-5 offset-lg-2">
              <div class="project-item">
                <!--  <figure class="project-item__figure">
                    <img src="assets/images/creativeanimo.jpg" alt="">
                  </figure> -->
                <figcaption class="project-item__caption">
                  <div class="project-item__title-wrap">
                    <h2 class="project-item__title wow fadeInUp">Instil Designs</h2>
                  </div>
                  <h3 class="project-item__sm-title">Technologies we used:</h3>
                  <p class="project-item__technologies">
                    Angular 6, HTML5, CSS3, SCSS, Bootstrap 4, BEM, Mobile Responsive
                  </p>
                </figcaption>
              </div>
            </div>

          </div>

        </section>





      </div>
    </div>
  </div>
</div>