@import "../../assets/scss/variables", "../../assets/scss/mixins", "../../assets/scss/layout",
  "../../assets/scss/ui-elements";

.projects {
  .project-item {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    @include margin(150px, 0, 60px, 0);
    @include transition(all 0.5s ease);

    @include breakpoint(sm) {
      flex-wrap: wrap;
      @include margin(0, 0, 30px, 0);
      overflow: hidden;
    }

    &__circle {
      position: absolute;
      height: 350px;
      width: 350px;
      border: 50px solid rgba($brand-color, 0.1);
      left: -220px;
      top: -100px;
      border-radius: 100%;
      @include transition(all 0.7s ease);
      @include breakpoint(sm) {
        display: none;
      }
    }
    &--reverse-circle {
      position: absolute;
      height: 350px;
      width: 350px;
      border: 50px solid rgba($brand-color, 0.1);
      right: -220px;
      top: -100px;
      border-radius: 100%;
      @include transition(all 0.7s ease);
      @include breakpoint(sm) {
        display: none;
      }
    }
    &__figure-wrap {
      position: relative;
      width: 50%;
      @include breakpoint(sm) {
        width: 100%;
      }
    }
    &__circle-sm {
      position: absolute;
      height: 200px;
      width: 200px;
      background: rgba($brand-second-color, 0.1);
      right: -75px;
      bottom: -75px;
      border-radius: 100%;
      @include transition(all 0.7s ease);
      @include breakpoint(sm) {
        background: none;
        border: 30px solid rgba($brand-color, 0.1);
      }
    }
    &--circle-sm-reverse {
      position: absolute;
      height: 200px;
      width: 200px;
      background: rgba($brand-second-color, 0.1);
      left: -75px;
      bottom: -75px;
      border-radius: 100%;
      @include transition(all 0.7s ease);
      @include breakpoint(sm) {
        right: -75px;
        left: initial;
        border: 30px solid rgba($brand-color, 0.1);
        background: none;
      }
    }

    &__figure {
      height: 400px;
      overflow: hidden;
      @include margin(0, 0, 0, 0);
      box-shadow: 0 5px 50px rgba($black-color, 0.4);
      /* clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%); */

      @include breakpoint(sm) {
        width: 100%;
        height: auto;
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
      }

      img {
        width: 100%;
        transform: scale(1);
        @include transition(all 0.5s ease);
        box-shadow: 0 5px 50px rgba($black-color, 0.2);
        filter: none;
        -webkit-filter: grayscale(0%);
      }
    }

    &--figure-reverse {
      @include margin(0, 0, 0, 0);
    }
    &__caption {
      width: 50%;
      color: $brand-second-color;
      @include padding(50px, 50px, 50px, 100px);
      height: 400px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include breakpoint(sm) {
        width: 100%;
        height: auto;
        @include padding(30px, 30px, 30px, 0);
      }
    }

    &--caption-reverse {
      @include padding(50px, 100px, 50px, 0);
      @include breakpoint(sm) {
        @include padding(30px, 30px, 30px, 0);
      }
    }
    &__title-wrap {
      overflow: hidden;
      height: 40px;
      @include margin(0, 0, 30px, 0);
      @include breakpoint(sm) {
        height: auto;
      }
    }
    &__title {
      font-size: 35px;
      color: $brand-color;
    
    font-weight: 700;
      @include breakpoint(sm) {
        font-size: 28px;
      }
    }
    &__sm-title {
      font-size: 16px;
      @include margin(0, 0, 10px, 0);
    }
    &__technologies {
      @include margin(0, 0, 20px, 0);
      font-size: 20px;
    }

    &:hover {
      img {
        transform: scale(1.1);
        -webkit-filter: grayscale(100%);
      }
      .project-item__circle {
        top: -50px;
      }
      .project-item--reverse-circle {
        top: -50px;
      }
      .project-item__circle-sm {
        background: rgba($brand-second-color, 0.9);
      }
      .project-item--circle-sm-reverse {
        background: rgba($brand-second-color, 0.9);
      }
    }
    .action-button {
      margin-top: 0;
    }
  }
  /* .flex-row-reverse{
    background: $brand-color;
  } */
}

.upcoming-projects {
  h4{
    color: $brand-color;
    text-align: center;
    @include margin(0, 0, 60px, 0);
    font-size: 50px;
    font-weight: 700;
  }

  .project-item {
    position: relative;
    @include margin(0, 0, 0, 0);
    @include transition(all 0.5s ease);

    @include breakpoint(sm) {
      @include margin(0, 0, 50px, 0);
    }

    &__figure {

      overflow: hidden;
      @include margin(0, 0, 50px, 0);
      box-shadow: 0 5px 50px rgba($black-color, 0.4);
      /* clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%); */

      @include breakpoint(sm) {
        width: 100%;
        height: auto;
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
      }

      img {
        width: 100%;
        transform: scale(1);
        @include transition(all 0.5s ease);
        box-shadow: 0 5px 50px rgba($black-color, 0.2);
        filter: none;
        -webkit-filter: grayscale(0%);
      }
    }

    &__caption {
      color: $brand-second-color;
      @include padding(0, 0, 0, 0);
    }
    &__title-wrap {
      overflow: hidden;
      height: 40px;
      @include margin(0, 0, 30px, 0);
      @include breakpoint(sm) {
        height: auto;
      }
    }
    &__title {
      font-size: 30px;
      color: $brand-color;
    
    font-weight: 700;

      @include breakpoint(sm) {
        font-size: 28px;
      }
    }
    &__sm-title {
      font-size: 16px;
      @include margin(0, 0, 10px, 0);
    }
    &__technologies {
      @include margin(0, 0, 20px, 0);
      font-size: 20px;
    }
  }
}
