<!-- Button trigger modal -->
<button  type="button" class="get-started-btn sliding-underline-link cursor-link" data-toggle="modal" data-target="#get-started">
  Get Started</button>
<!-- Modal -->
<app-get-started></app-get-started>
<section class="typing-carousel">
  <!-- <h1 class="typing-carousel__title">
    <span class="txt-static">We</span>
    <p class="txt-rotate"></p>
  </h1>  -->

  <div class="typing-carousel__wrap">
    <span class="txt-static">We</span>
    <div class="typing-carousel__title">
      <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
        <span class="txt-rotate typed-element"></span>
      </div>
    </div>
  </div>
  <div class="scroll-container">
    <div class="scroller"></div>
  </div>

  <div class="typing-sub-header">
    <span class="typing-sub-header__line wow slideInUp" data-wow-duration="1s" data-wow-delay="0.4s"></span>
    <p class="typing-sub-header__content wow slideInLeft" data-wow-duration="2s" data-wow-delay="0.8s">

      A creative team who understands the clients requirement and performs passionately with joint efforts together to
      execute a digital project which make sense.
    </p>
  </div>


</section>

<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 nopadding">
      <section class="about">
        <div class="main-title-wrap">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Who</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">We</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Are<b
                    class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="heading-content-wrap">
                <div class="heading-content">
                  <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                    We are creative agency for purpose-driven organizations, innovator and executer.
                    We have a capable team of creative designers and developers who know how to deliver results.

                  </p>
                </div>
                <a routerLink='/who-we-are' class="action-button cursor-link wow fadeIn" data-wow-duration="1s"
                  data-wow-delay="1.2s">
                  <span class="action-button__text">More About Us</span>
                  <div class="action-button__shapes">
                    <div class="action-button__rectangle"></div>
                    <div class="action-button__arrow">
                      <svg height="16" width="16">
                        <polygon points="2,2 8,5.5 2,10"></polygon>
                      </svg>
                    </div>
                    <div class="action-button__circles">
                      <svg height="64" width="64" class="action-button__circle action-button__circle--base">
                        <circle cx="32" cy="32" r="28">
                        </circle>
                      </svg>
                      <svg height="64" width="64" class="action-button__circle action-button__circle--fill">
                        <circle cx="32" cy="32" r="28"></circle>
                      </svg>
                    </div>
                  </div>
                </a>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="our-process">
        <div class="main-title-wrap">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">How</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">We</span>
              </div>
              <div class="heading-wrap">
                <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Do<b
                    class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="heading-content-wrap">
                <div class="heading-content">
                  <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                    We in order to insure that we meet our customers' expectations and that our team is well aligned
                    with all your concerns, our process is divided into several stages.

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="item">

              <span class="item__icon">
                <img data-alt-src="assets/images/learn.svg" src="assets/images/learn-red.svg" />
              </span>
              <span class="item__number wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">01</span>
              <span class="item__title">Learn</span>
              <p class="item__content">

                This is a discovery phase where we identify what our client exactly requires. Bases on discussion, we
                prepare an document and this completes the first phase of our development process.

              </p>
            </div>
          </div>

          <div class="col-lg-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="item">
                <span class="item__number wow fadeInRight" data-wow-duration="1s" data-wow-delay="2s">02</span>
              <span class="item__icon">
                <img data-alt-src="assets/images/research-red.svg" src="assets/images/research-red.svg" />
              </span>
              <span class="item__title">Research</span>
              <p class="item__content">

                When we identify what needs to be developed, we come to decide what technology and framework is required
                to build the product. Furthermore, we divide the project into different milestones.

              </p>
            </div>
          </div>

          <div class="col-lg-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="item">
              <span class="item__number wow fadeInRight" data-wow-duration="1s" data-wow-delay="3s">03</span>
              <span class="item__icon">
                <img data-alt-src="assets/images/design.svg" src="assets/images/design-red.svg" />
              </span>
              <span class="item__title">Design</span>
              <p class="item__content">

                This is an important phase of the process where we keenly look into a specific color theme, typography
                and UI design that would be a right fit for the product we are building. Keeping in mind the latest
                design trends and rules, we create a design for our product.

              </p>
            </div>
          </div>

          <div class="col-lg-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="item">
              <span class="item__number wow fadeInRight" data-wow-duration="1s" data-wow-delay="4s">04</span>
              <span class="item__icon">
                <img data-alt-src="assets/images/development.svg" src="assets/images/development-red.svg" />
              </span>
              <span class="item__title">Development</span>
              <p class="item__content">

                This is the core phase of our development process where we start working on the functionalities and
                features of the project by following the documentation prepared earlier based on client’s requirements.

              </p>
            </div>
          </div>

          <div class="col-lg-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
            <div class="item">
              <span class="item__number wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">05</span>
              <span class="item__icon">
                <img data-alt-src="assets/images/deploy.svg" src="assets/images/deploy-red.svg" />
              </span>
              <span class="item__title">Deployment</span>
              <p class="item__content">

                We test the features once they are developed to ensure that they work properly and meet the expectations
                of the client.

              </p>
            </div>
          </div>

          <div class="col-lg-4 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
            <div class="item">
              <span class="item__number wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">06</span>
              <span class="item__icon">
                <img data-alt-src="assets/images/support.svg" src="assets/images/support-red.svg" />
              </span>
              <span class="item__title">Support</span>
              <p class="item__content">
                We tend to build a long term relation with our client where we offer tech support to the product we
                built for them. This ensures that the product is always up and running and up to date.

              </p>
            </div>
          </div>
        </div>
      </section>


      <div class="main-title-wrap">
        <div class="row no-gutters">
          <div class="col-lg-4">
            <div class="heading-wrap">
              <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">Let's</span>
            </div>
            <div class="heading-wrap">
              <span class="heading-wrap__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Start<b
                  class="wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s"></b></span>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="heading-content-wrap">
              <div class="heading-content">
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                  We love to hear all about your project.
                  Like what you see? Have a project you’d like to talk about? Want to ask us a personal question?


                </p>
              </div>

              <a routerLink='/get-in-touch' class="action-button cursor-link wow fadeIn" data-wow-duration="1s"
                data-wow-delay="1.2s">
                <span class="action-button__text">Get In Touch</span>
                <div class="action-button__shapes">
                  <div class="action-button__rectangle"></div>
                  <div class="action-button__arrow">
                    <svg height="16" width="16">
                      <polygon points="2,2 8,5.5 2,10"></polygon>
                    </svg>
                  </div>
                  <div class="action-button__circles">
                    <svg height="64" width="64" class="action-button__circle action-button__circle--base">
                      <circle cx="32" cy="32" r="28">
                      </circle>
                    </svg>
                    <svg height="64" width="64" class="action-button__circle action-button__circle--fill">
                      <circle cx="32" cy="32" r="28"></circle>
                    </svg>
                  </div>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>